.block
  = render :partial => 'shared/menu/sale'
  .content
    .title_action_bar
      %h2.title Listing Sale Servers
      .new_actions
        - if can? :create, SaleServer
          = link_to 'New Sale Server', new_sale_server_path, :class => :button
    .inner
      %table
        %tr
          %th Name
          %th Branch
          %th.actions= 'Actions'
        - @sale_servers.each do |sale_server|
          %tr
            %td= sale_server.name
            %td= link_to sale_server.branch.location, branch_path(sale_server.branch)
            %td
              = link_to 'Show', sale_server
              - if can? :edit, sale_server
                = link_to 'Edit', edit_sale_server_path(sale_server)
              - if can? :destroy, sale_server
                = link_to 'Destroy', sale_server, :confirm => 'Are you sure?', :method => :delete

