.block
  = render 'shared/menu/database'
  .content
    .title_action_bar
      %h2.title Branches
      .new_actions
        = link_to 'New Branch', new_branch_path, :class => 'button'
    .inner
      %table
        %tr
          %th Restaurant
          %th Location
          %th Address
          %th Contact Number
          %th.last Actions
        - @branches.each do |branch|
          %tr
            %td= branch.restaurant.name unless branch.restaurant.nil?
            %td= branch.location
            %td= branch.address
            %td= branch.contact_number
            %td.last
              = link_to 'Show', branch
              = link_to 'Edit', edit_branch_path(branch)
              = link_to 'Destroy', branch, :confirm => 'Are you sure?', :method => :delete
    = paginate @branches