.block
  = render 'shared/menu/database'
  .content
    = render 'shared/menu/organization'
    .title_action_bar
      %h2.title Branches
      - if can? :new, Branch
        .new_actions
          = link_to 'New Branch', new_branch_path, :class => 'button'
        = 'Download as'
        = link_to 'CSV', branches_path(params.merge(format: 'csv'))
    .inner
      %table
        %tr
          %th Restaurant
          %th Location
          %th Address
          %th Contact Number
          %th.last Actions
        - @branches.each do |branch|
          %tr
            %td= link_to branch.restaurant.name, restaurant_path(branch.restaurant.id) unless branch.restaurant.nil? 
            %td= branch.location
            %td= branch.address
            %td= branch.contact_number
            %td.last
              = link_to 'Show', branch
              - if can? :edit,  branch
                = link_to 'Edit', edit_branch_path(branch)
              - if can? :destroy, branch
                = link_to 'Destroy', branch, :confirm => 'Are you sure?', :method => :delete
      = paginate @branches
