.block
  .content
    .inner
      %p
        %b Restaurant:
        = @branch.restaurant.name unless @branch.restaurant.nil?
      %p
        %b Location:
        = @branch.location
      %p
        %b Address:
        = @branch.address
      %p
        %b Contact Number:
        = @branch.contact_number
      = link_to 'Edit', edit_branch_path(@branch)
      |
      \#{link_to 'Back', branches_path}
