.block
  .content
    .inner
      %p
        %b Restaurant:
        = @branch.restaurant.restaurant_name
      %p
        %b Branch location:
        = @branch.branch_location
      %p
        %b Branch address:
        = @branch.branch_address
      %p
        %b Branch contactnumber:
        = @branch.branch_contactNumber
      = link_to 'Edit', edit_branch_path(@branch)
      |
      \#{link_to 'Back', branches_path}
