= form_for(@conversion) do |f|
  - if @conversion.errors.any?
    #error_explanation
      %h2
        = pluralize(@conversion.errors.count, "error")
        prohibited this conversion from being saved:
      %ul
        - @conversion.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :b_unit
    %br/
    = f.text_area :b_unit
  .field
    = f.label :s_unit
    %br/
    = f.text_area :s_unit
  .field
    = f.label :conversionNumber
    %br/
    = f.text_field :conversionNumber
  .actions
    = f.submit
