.block
  = render 'shared/menu/database'
  .content
    .title_action_bar
      %h2.title Conversion
      .new_actions
        - if can? :create, Conversion
          = link_to 'New Conversion', new_conversion_path, :class => :button
    .inner
      %table
        %tr
          %th Bigger unit
          %th Smaller unit
          %th Conversion factor
          %th.actions Actions
        - @conversions.each do |conversion|
          %tr
            %td= link_to conversion.bigger_unit_name, unit_path(conversion)
            %td= link_to conversion.smaller_unit_name, unit_path(conversion)
            %td= conversion.conversion_factor
            %td
              = link_to 'Show', conversion
              - if can? :edit, conversion
                = link_to 'Edit', edit_conversion_path(conversion)
              - if can? :destroy, conversion
                = link_to 'Destroy', conversion, :confirm => 'Are you sure?', :method => :delete
      = paginate @conversions
