.block
  .content
    .inner
      %p
        %b B unit:
        = @conversion.b_unit
      %p
        %b S unit:
        = @conversion.s_unit
      %p
        %b Conversion number:
        = @conversion.conversion_number
      = link_to 'Edit', edit_conversion_path(@conversion)
      |
      \#{link_to 'Back', conversions_path}
