.block
  .content
    .inner
      %p
        %b Bigger unit:
        = @conversion.bigger_unit_name
      %p
        %b Smaller unit:
        = @conversion.smaller_unit_name
      %p
        %b Conversion factor:
        = @conversion.conversion_factor
      - if can? :edit, Conversion
        = link_to 'Edit', edit_conversion_path(@conversion)
        |
      \#{link_to 'Back', conversions_path}
