= form_for(@employee) do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :branch_id, 'Branch'
    %br/
    = f.select :branch_id, Branch.all.map { |branch| [branch.branch_location, branch.id] }
  .field
    = f.label :date_employed
    %br/
    = f.date_select :date_employed
  .field
    = f.label :job_id, 'Job'
    %br/
    = f.text_field :job_id
  .field
    = f.label :department_id, 'Department'
    %br/
    = f.text_field :department_id
  .field
    = f.label :birthdate
    %br/
    = f.date_select :birthdate
  .field
    = f.label :contact_number
    %br/
    = f.text_field :contact_number
  .field
    = f.label :sss
    %br/
    = f.text_field :sss
  .field
    = f.label :tin
    %br/
    = f.text_field :tin
  .field
    = f.label :address
    %br/
    = f.text_area :address
  .actions
    = f.submit
