= simple_form_for @employee do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.input :first_name, :label => "First Name"
    = f.input :last_name, :label => "Last Name"
    = f.association :branch, :label => "Branch", :collection => Branch.accessible_by(current_ability).all.map { |branch| [branch.location, branch.id] }
    = f.input :date_employed, :label => 'Date Employed', :input_html => {:value => Date.today}
    = f.input :birthdate, :label => "Birth Date"
    = f.input :department_id, :label => "Department", :collection => [ ['FOH-TL', 1], ['FOH', 2], ['BOH-TL', 3], ['BOH', 4] ]
    = f.input :sss, :label => "SSS #"
    = f.input :tin, :label => "TIN"
    = f.input :hdmf, :label => "HDMF #"
    = f.input :contact_number, :label => "Contact Number"
    = f.input :address, :as => :text, :label => "Address"
  .actions
    = f.button :submit
