= simple_form_for @employee do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.input :first_name, :label => "First Name"
    = f.input :last_name, :label => "Last Name"
    = f.association :branch, :label => "Branch", :collection => Branch.all.map { |branch| [branch.location, branch.id] }
    = f.input :date_employed, :label => 'Date Employed', :input_html => {:value => Date.today}
    = f.input :birthdate, :label => "Birth Date"
    = f.input :last_name, :label => "SSS #"
    = f.input :last_name, :label => "TIN"
    = f.input :last_name, :label => "Contact Number"
    = f.input :last_name, :as => :text, :label => "Address" 
  .actions
    = f.button :submit
