= form_for(@employee) do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'First Name'
    %br/
    = f.text_field :employee_firstName
  .field
    = f.label 'Last Name'
    %br/
    = f.text_field :employee_lastName
  .field
    = f.label 'Branch'
    %br/
    = f.text_field :branch_id
  .field
    = f.label 'Date Employed'
    %br/
    = f.date_select :employee_dateEmployed
  .field
    = f.label 'Job'
    %br/
    = f.text_field :job_id
  .field
    = f.label 'Department'
    %br/
    = f.text_field :department_id
  .field
    = f.label 'Birthdate'
    %br/
    = f.date_select :employee_birthday
  .field
    = f.label 'Age'
    %br/
    = f.text_field :employee_age
  .field
    = f.label 'Contact Number'
    %br/
    = f.text_field :employee_contactNumber
  .field
    = f.label 'SSS'
    %br/
    = f.text_field :employee_sss
  .field
    = f.label 'TIN'
    %br/
    = f.text_field :employee_tin
  .field
    = f.label 'Address'
    %br/
    = f.text_area :employee_address
  .actions
    = f.submit
