.block
  .content
    .title_action_bar
      %h2 Employees
      .new_actions
        = link_to 'New Employee', new_employee_path, :class => 'button'
    .inner
      %table
        %tr
          %th Name
          %th Branch
          %th Date employed
          %th Birthday
          %th Contact number
          %th SSS
          %th TIN
          %th Address
          %th.actions Actions
        - @employees.each do |employee|
          %tr
            %td= employee.full_name
            %td= employee.branch.location
            %td= employee.date_employed
            %td= employee.birthdate
            %td= employee.contact_number
            %td= employee.sss
            %td= employee.tin
            %td= employee.address
            %td
              = link_to 'Show', employee
              = link_to 'Edit', edit_employee_path(employee)
              = link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete
