.block
  .content
    .inner
      %p
        %b Name
        = @employee.full_name
      %p
        %b Branch:
        = @employee.branch_id
      %p
        %b Employee dateemployed:
        = @employee.date_employed
      %p
        %b Job:
        = @employee.job_id
      %p
        %b Department:
        = @employee.department_id
      %p
        %b Birthday:
        = @employee.birthdate
      %p
        %b Contact number:
        = @employee.contact_number
      %p
        %b SSS:
        = @employee.sss
      %p
        %b TIN:
        = @employee.tin
      %p
        %b Address:
        = @employee.address
      = link_to 'Edit', edit_employee_path(@employee)
      |
      \#{link_to 'Back', employees_path}
