.block#block-login
  %h2.title Sign Up
  .content.login
    .inner
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        - unless resource.errors.empty?
          .flash
            %div{ :class => "message error" }
              %p= 'Registration error. Please try again.'
        = f.input :username
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        .actions
          = f.submit "Sign up", :class => 'button'
        = render :partial => "devise/shared/links"
