.block#block-login
  %h2.title Sign Up
  .content.login
    .inner
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        .input
          = f.label :username
          = f.text_field :username
        .input
          = f.label :email
          = f.email_field :email
        .input
          = f.label :password
          = f.password_field :password
        .input
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        -#.input
          -#= f.label :role
          -#= f.select(:role, options_for_select(Role::VALID_ROLES.map{|role| [role, role]}))
        .actions
          = f.submit "Sign up", :class => 'button'
        = render :partial => "devise/shared/links"
