= form_for @endcount do |f|
  - if @endcount.errors.any?
    #error_explanation
      %h2
        = pluralize(@endcount.errors.count, "error")
        prohibited this endcount from being saved:
      %ul
        - @endcount.errors.full_messages.each do |msg|
          %li= msg

  %table.table_form
    %tr
      %td
        = f.label :begin_date
        = f.date_select :begin_date, :default => { :day => 1 }
      %td
        = f.label :end_date
        = f.date_select :end_date

  %table.table_form
    %tr
      %th Item
      %th Beginning Count
      %th End Count
    = f.fields_for :item_counts do |ic|
      %tr
        = ic.hidden_field :item_id, :value => ic.object.item_id
        %td= ic.object.item.name
        %td= ic.text_field :begin_count, :value => ic.object.begin_count, :readonly => true, :style=>"background-color : #ccc"
        %td= ic.text_field :end_count

  %table.table_form
    %tr
      %td
        / <haml:loud> f.submit </haml:loud>
        = f.submit "Save as draft"
