<%= form_for(@endcount) do |f| %>
  <% if @endcount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endcount.errors.count, "error") %> prohibited this endcount from being saved:</h2>

      <ul>
      <% @endcount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
	<tr>
	  <div class="field">
		<td><%= f.label :beginning_date %></td>
		<td><%= f.date_select :beginning_date, :default => { :day => 1 } %></td>
	  </div>
	</tr>
	<tr>
	  <div class="field">
		<td><%= f.label :end_date %></td>
		<td><%= f.date_select :end_date %></td>
	  </div>
	</tr>
  </table>
  
  <table border="1">
	<tr>
		<th>Item</th>
		<th>Beginning Count</th>
		<th>End Count</th>
	</tr>
  
	<% f.fields_for :ecrows do |builder| %>
		<tr>
			<%= builder.hidden_field :inventoryitem_id, :value => @item_ids.pop %>
			<td><%= @inventoryitems.pop %></td>
			<td><%= builder.text_field :beginning_count, :value => @beginning_counts.pop, :readonly => true %></td>
			<td><%= builder.text_field :end_count %></td>
		</tr>
	<% end %>
  </table>
  
  <table>
	<tr>
	<div class="actions">
		<td><!-- <%= f.submit %> --> <%= f.submit "Save as draft"%></td>
	</div>
  </tr>
  </table>
  
<% end %>

