.block
  = render 'shared/menu/inventory'
  .content
    .left
      = form_tag '/endcounts/search' do
        %table.table_form
          %tr
            %td
              = 'From'
              = date_select(:start, '', :start_year => 2010, :default => { :day => 1 } )
            %td
              = 'To'
              = date_select(:end, '', :start_year => 2010)
            %td= submit_tag :Search
    %h2.title View Purchases
    .inner
      %table
        %tr
          %th{:class => 'checkbox'}
          %th Beginning date
          %th Endcount date
          %th Item
          %th Beginning Count
          %th End Count
          %th Edit
          %th Destroy
        = form_tag '/endcounts/savechecked' do
          - @endcounts.each do |endcount|
            - for item_count in endcount.item_counts
              %tr
                %td{:class => 'checkbox'}
                  - if endcount.save_as_draft == 1
                    = check_box_tag "endcount_ids[]", endcount.id
                %td= endcount.begin_date.strftime("%B %d, %Y")
                %td= endcount.end_date.strftime("%B %d, %Y")
                %td
                  = item_count.item.name unless item_count.item.nil?
                %td= number_with_precision(item_count.begin_count, :precision => 0)
                %td= number_with_precision(item_count.end_count, :precision => 0)
                %td
                  - if endcount.save_as_draft == 1
                    = link_to 'Edit', edit_endcount_path(endcount)
                %td
                  - if endcount.save_as_draft == 1
                    = link_to 'Destroy', endcount, :confirm => 'Are you sure?', :method => :delete
          %tr
            %td{:colspan => 9}
              = submit_tag 'Submit records '
              = submit_tag 'Destroy records'

      = link_to 'New endcount', new_endcount_path, :class => :button
