<div class="left"> 
<h2><a href="#">VIEW PERIOD END</a></h2>
<hr />
<br/>
</div>
<div class="left">
<% form_tag '/endcounts/search' do %>
<table>
	<tr>
		<td>From</td>
		<td><%= date_select(:start, '', :start_year => 2010) %></td>
	</tr>
	<tr>
		<td>To</td>
		<td><%= date_select(:end, '', :start_year => 2010) %></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><%= submit_tag :Search %></td>
	</tr>
</table>
<% end %>
</div>

<div class="right"></div>
<div style="clear: both;"></div>
<table border="1">


  <tr>
    <th>Beginning date</th>
    <th>Endcount date</th>
	<th>Item</th>
	<th>Beginning Count</th>
	<th>End Count</th>
    <th>Edit</th>
  </tr>

<% @endcounts.each do |endcount| %>
	<% for ecrow in endcount.ecrows %>
		<tr>
		<td><%= endcount.beginning_date.strftime("%B %d, %Y") %></td>
		<td><%= endcount.end_date.strftime("%B %d, %Y") %></td>
		<td><% inventoryId = ecrow.inventory_id %>
    	<% i = Inventoryitem.find(inventoryId)%>
    	<%=h i.item_name %></td>
		<td><%=h ecrow.beginning_count %></td>
		<td><%=h ecrow.end_count %></td>
		<td><%= link_to 'Edit', edit_endcount_path(endcount) %></td>
		</tr>
	<% end %>
<% end %>
</table>


<br />

<%= link_to 'New Endcount', new_endcount_path %>

