.block
  = render 'shared/menu/inventory'
  .content
    .search_box
      = form_tag '/endcounts/search', :method => :get do
        .input
          = label_tag 'From'
          = text_field_tag :beginning_date, params[:beginning_date], :class => 'datepicker'
        .input
          = label_tag 'To'
          = text_field_tag :ending_date, params[:ending_date], :class => 'datepicker'
        .actions
          = submit_tag :Search
    %h2.title View Endcounts
    .inner
      %table
        %tr
          %th{:class => 'checkbox'}
          %th Item
          %th= @beginning_date.strftime('%B %d, %Y')
          %th= @ending_date.strftime('%B %d, %Y')
          %th.actions Actions
        - @items.each do |item|
          %tr
            %td
            %td= item.name
            %td= item.beginning_count
            %td= item.ending_count
            %td= 'Edit | Delete'
        %tr
          %td{:colspan => 9}
            = submit_tag 'Submit records '
            = submit_tag 'Destroy records'
