.block
  = render 'shared/menu/inventory'
  .content
    .search_box
      = form_tag '/endcounts/search', :method => :get do
        .input
          = label_tag 'From'
          = text_field_tag :beginning_date, params[:beginning_date], :class => 'datepicker'
        .input
          = label_tag 'To'
          = text_field_tag :ending_date, params[:ending_date], :class => 'datepicker'
        .actions
          = submit_tag :Search
    %h2.title View Endcounts
    .inner
      = form_tag update_item_counts_endcounts_path, :method => :put do |f|
        %table
          %tr
            %th Item
            %th Subcategory
            %th Unit
            %th Count
            %th.actions Actions
          - @items.each do |item|
            %tr
              %td= item.name
              %td= item.subcategory_name
              %td= item.unit_name
              %td= item.item_count
              %td= text_field(:item, :item_count, {:name => "items[#{item.id}][item_count]", :style => "width:70px"})
          %tr
            %td{:colspan => 9}
              = submit_tag 'Submit records '
              = submit_tag 'Destroy records'
