- content_for :head do
  = javascript_include_tag(:endcount)
  /[if !IE]
    = javascript_tag("$(function() { $('#show_by_date_reports').datepicker('setDate', new Date($('#entry_date').val() )); });")
- content_for :sidebar do
  %h3 Show by Date
  #show_by_date
  = form_tag endcounts_path, :method => :get do
    .input_group
      = label_tag 'Filter by Branch'
      .input
        = select_tag :branch_id, options_from_collection_for_select(Branch.accessible_by(current_ability), :id, :location, params[:branch_id])
    .actions
      = submit_tag :Search, :class => "button"

.block
  = render 'shared/menu/inventory'
  .content
    %h2.title= endcount_title(params[:date])
    .inner
      = form_tag update_item_counts_endcounts_path, :method => :put do |f|
        = label_tag :branch_id, 'Select a branch to update'
        = select_tag :branch_id, options_from_collection_for_select(Branch.accessible_by(current_ability), :id, :location, params[:branch_id])
        = hidden_field_tag(:entry_date, params[:date]) if params[:date]
        = 'Download as'
        = link_to 'CSV', :format => :csv
        = link_to 'PDF', :format => :pdf
        = link_to 'View Generated Endcounts List', endcounts_generate_endcount_list_path
        %table
          %tr
            %th Subcategory
            %th{:style => 'width:40%'} Item
            %th Unit
            %th Count
            %th.last Update count
          - @items.each do |item|
            %tr{id: dom_id(item)}
              %td= item.subcategory_name
              %td= item.name
              %td= item.unit_name
              %td= item.ending_count
              %td.last= text_field(:item, :item_count, {:name => "items[#{item.id}][item_count]", :style => "width:70px"})
          %tr
            %td{:colspan => 5, :style => 'text-align: right; padding-right: 22px'}
              = submit_tag 'Update counts'
