- content_for :head, javascript_include_tag(:endcount)
- content_for :sidebar do
  .block.search_box
    %h3 Show by Date
    = javascript_tag("$(function() { $('#show_by_date').datepicker();});")
    #show_by_date
.block
  = render 'shared/menu/inventory'
  .content
    %h2.title View Endcounts
    .inner
      = form_tag update_item_counts_endcounts_path, :method => :put do |f|
        %table
          %tr
            %th{:style => 'width:40%'} Item
            %th Subcategory
            %th Unit
            %th Count
            %th.last Update count
          - @items.each do |item|
            %tr
              %td= item.name
              %td= item.subcategory_name
              %td= item.unit_name
              %td= item.item_count
              %td.last= text_field(:item, :item_count, {:name => "items[#{item.id}][item_count]", :style => "width:70px"})
          %tr
            %td{:colspan => 5, :style => 'text-align: right; padding-right: 22px'}
              = submit_tag 'Update counts'
