.block
  = render 'shared/menu/inventory'
  .content
    .search_box
      = form_tag '/endcounts/search', :method => :get do
        .input
          = label_tag 'From'
          = text_field_tag :start_date, nil, :class => 'datepicker'
        .input
          = label_tag 'To'
          = text_field_tag :end_date, nil, :class => 'datepicker'
        .actions
          = submit_tag :Search
    %h2.title View Endcounts
    .inner
      %table
        %tr
          %th{:class => 'checkbox'}
          %th Item
          %th Beginning Count
          %th End Count
          %th.actions Actions
        %tr
          %td{:colspan => 9}
            = submit_tag 'Submit records '
            = submit_tag 'Destroy records'
