- content_for :head do
  = javascript_include_tag(:endcount)
  /[if !IE]
    = javascript_tag("$(function() { $('#show_by_date').datepicker('setDate', new Date($('#entry_date').val() )); });")
- content_for :sidebar do
  %h3 Show by Date
  #show_by_date
.block
  = render 'shared/menu/inventory'
  .content
    %h2.title= endcount_title(params[:date])
    .inner
      = form_tag update_item_counts_endcounts_path, :method => :put do |f|
        = hidden_field_tag(:entry_date, params[:date]) if params[:date]
        %table
          %tr
            %th{:style => 'width:40%'} Item
            %th Subcategory
            %th Unit
            %th Count
            %th.last Update count
          - @items.each do |item|
            %tr{id: dom_id(item)}
              %td= item.name
              %td= item.subcategory_name
              %td= item.unit_name
              %td= item.ending_count
              %td.last= text_field(:item, :item_count, {:name => "items[#{item.id}][item_count]", :style => "width:70px"})
          %tr
            %td{:colspan => 5, :style => 'text-align: right; padding-right: 22px'}
              = submit_tag 'Update counts'
