- content_for(:head, javascript_include_tag(:categorysales))
= form_for(@categorysale) do |f|
  - if @categorysale.errors.any?
    #error_explanation
      %h2
        = pluralize(@categorysale.errors.count, "error")
        prohibited this categorysale from being saved:
      %ul
        - @categorysale.errors.full_messages.each do |msg|
          / <li><haml:loud> msg </haml:loud></li>
  %br/
  %table{:border => "0", :width => "190"}
    /
      <tr>
      <td><haml:loud> label_tag :ServerName </haml:loud></td>
      <td><haml:loud> collection_select('categorysale','employee_id',Employee.all.collect,'id','employee_firstName') </haml:loud></td>
      </table>
      <br />
  %table{:border => "0", :width => "700"}
    %tr
      %td Branch:
      %td= text_field_tag :branch,'',:disabled => true
      %td &nbsp;
      %td &nbsp;
    %tr
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
    %tr
      %td= f.label "Date"
      %td= f.date_select :cs_date
      %td &nbsp;
      %td &nbsp;
    - f.fields_for :csrows do |builder|
      %tr
        - id = @category_ids.pop
        - if id!=nil
          = builder.hidden_field :category_id, :value => id
          %td= @category_names.pop
          %td= builder.text_field :cs_amount,:class => 'txt', :onFocus => "startCalc();", :onBlur =>"stopCalc();"
    %tr
      %td= f.label "TOTAL"
      %td= f.text_field :cs_total_amount
      %td= f.label "Total Revenue"
      %td= f.text_field :cs_revenue
    %tr
      %td= f.label "VAT"
      %td= f.text_field :vat
      %td= f.label "VOID"
      %td= f.text_field :void
    %tr
      %td= f.label "Service Charge"
      %td= f.text_field :servicecharge
      %td Server Name:
      %td= f.collection_select :employee_id, Employee.find(:all), :id, :employee_firstName, :prompt => "Select server"
    %tr
      %td= f.label :customer_count
      %td= f.text_field :customer_count
      %td= f.label :transaction_count
      %td= f.text_field :transaction_count
      %td
        Input
        %input#shares{:type => "text"}/
      %td
      %td
        Output
        %span#result
      %td
    %tr
      %td &nbsp;
      %td &nbsp;
      %td= f.submit "Save as Draft"
      %td= f.submit "Save"
