%p#notice= notice
%p
  %b CS amount:
  = @categorysale.cs_amount
- @categorysale.csrows.each do |csr|
  = csr.cs_amount
%p
  %b Employee:
  = @categorysale.employee_id
%p
  %b Customer Count:
  = @categorysale.customer_count
%p
  %b VAT:
  = @categorysale.vat
%p
  %b VOID:
  = @categorysale.void
%p
  %b Service Charge:
  = @categorysale.servicecharge
%p
  %b Total Revenue:
  = @categorysale.cs_revenue
= link_to 'Back', categorysales_path
