= simple_form_for @subcategory do |f|
  %fieldset
    = f.input :name
    = f.association :category, :prompt => "(select)", :collection => Category.accessible_by(current_ability).map { |cat| [ cat.name, cat.id ]}
    = f.input :description
  .actions
    = f.button :submit

