.block
  = render 'shared/menu/inventory'
  .content
    .title_action_bar
      %h2.title Subcategories
      .new_actions
        - if can? :create, Subcategory
          = link_to 'New Subcategory', new_subcategory_path, :class => 'button'
    .inner
      %table
        %tr
          %th Name
          %th Goal
          %th Description
          %th Category
          %th.actions Action
        - @subcategories.each do |subcategory|
          %tr
            %td= subcategory.name
            %td= number_to_percentage subcategory.goal
            %td= subcategory.description
            %td= link_to subcategory.category.name, category_path(subcategory.category) unless subcategory.category.nil?
            %td
              = link_to 'Show', subcategory
              - if can? :edit, subcategory
                = link_to 'Edit', edit_subcategory_path(subcategory)
              - if can? :delete, subcategory
                = link_to 'Destroy', subcategory, :confirm => 'Are you sure?', :method => :delete
      = paginate @subcategories
