.block
  = render 'shared/menu/database'
  .content
    %h2 Subcategories
    .inner
      %table
        %tr
          %th Name
          %th Description
          %th Category
          %th.actions Action
        - @subcategories.each do |subcategory|
          %tr
            %td= subcategory.name
            %td= subcategory.description
            %td= subcategory.category.name
            %td
              = link_to 'Show', subcategory
              = link_to 'Edit', edit_subcategory_path(subcategory)
              = link_to 'Destroy', subcategory, :confirm => 'Are you sure?', :method => :delete
      = link_to 'New Subcategory', new_subcategory_path, :class => 'button'
