.block
  .content
    %h2= "Subcategory: #{@subcategory.subcategory_name}"
    .inner
      %p
        %b Description:
        = @subcategory.subcategory_description
      %p
        %b Category:
        = @subcategory.category.category_name
      = link_to 'Edit', edit_subcategory_path(@subcategory)
      |
      \#{link_to 'Back', subcategories_path}
