.block
  .content
    %h2= "Subcategory: #{@subcategory.name}"
    .inner
      %p
        %b Goal:
        = number_to_percentage @subcategory.goal
      %p
        %b Description:
        = @subcategory.description
      %p
        %b Category:
        = @subcategory.category.name
      - if can? :edit, Subcategory
        = link_to 'Edit', edit_subcategory_path(@subcategory)
        |
      \#{link_to 'Back', subcategories_path}
