.block
  = render 'shared/menu/database'
  .content
    .title_action_bar
      %h2.title Settlement Types
      .new_actions
        - if can? :create, SettlementType
          = link_to 'New Settlement type', new_settlement_type_path, :class => 'button'
    .inner
      %table
        %tr
          %th Name
          %th.actions Action
        - @settlement_types.each do |settlement_type|
          %tr
            %td= settlement_type.name
            %td
              = link_to 'Show', settlement_type
              - if can? :edit, settlement_type
                = link_to 'Edit', edit_settlement_type_path(settlement_type)
              - if can? :destroy, settlement_type
                = link_to 'Destroy', settlement_type, :confirm => 'Are you sure?', :method => :delete
      = paginate @settlement_types
