- content_for(:head, javascript_include_tag(:purchase_items))
= form_for([@purchase, @purchase_item]) do |f|
  - if @purchase_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@purchase_item.errors.count, "error")
        prohibited this purchase_item from being saved:
      %ul
        - @purchase_item.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .input
      = f.label :item_id
      = f.text_field :item_id, :class => 'updates_vat_amount'
    .input
      = f.label :unit_id
      = f.text_field :unit_id, :class => 'updates_vat_amount'
    .input
      = f.label :quantity
      = f.text_field :quantity, :class => 'updates_vat_amount'
    .input
      = f.label :amount
      = f.text_field :amount, :class => 'updates_vat_amount'
    %fieldset
      %legend='VAT Type'
      .radio_group
        = f.radio_button(:vat_type, "VAT-Inclusive", :class => 'updates_vat_amount') + "VAT-Inclusive"
        = f.radio_button(:vat_type, "VAT-Exclusive", :class => 'updates_vat_amount') + "VAT-Exclusive"
        = f.radio_button(:vat_type, "VAT-Exempted", :class => 'updates_vat_amount') + "VAT-Exempted"
    .input
      = f.label :vat_amount
      = f.text_field :vat_amount, :readonly => true, :id => "vat_amount"
    .input
      = f.label :net_amount
      = f.text_field :net_amount, :readonly => true, :id => "net_amount"
    .actions
      = f.submit "Add item", :button_value => "addAnotherItem"
