- url = @item.new_record? ? inventoryitems_path : inventoryitem_path(@item)
= simple_form_for @item, :url => url do |f|
  = f.input :name
  - if current_user.admin?
    = f.association :branch, :collection => Branch.all.map { |branch| [branch.location, branch.id] }, :prompt => '(select)'
  = f.association :unit, :prompt => '(select)'
  = f.association :subcategory, :prompt => '(select)'
  = f.input :item_count
  = f.label "Non-Inventory?"
  = f.check_box :non_inventory
  .actions
    = f.button :submit
