= simple_form_for @inventoryitem do |f|
  = f.input :name
  = f.association :branch, :collection => Branch.all.map { |branch| [branch.location, branch.id] }, :prompt => 'select'
  = f.association :unit, :prompt => '(select)'
  = f.input :beginning_count
  .actions
    = f.button :submit
