- url = @item.new_record? ? inventoryitems_path : inventoryitem_path(@item)
= simple_form_for @item, :url => url do |f|
  = f.input :name
  = f.association :branch, :collection => Branch.all.map { |branch| [branch.location, branch.id] }, :prompt => 'select'
  = f.association :unit, :prompt => '(select)'
  = f.input :item_count
  .actions
    = f.button :submit
