.block
  = render 'shared/menu/inventory'
  .content
    %h2.title Inventory Item
    .inner
      %table.table_form
        = form_tag inventoryitems_path, :method => 'get' do
          %tr
            %td
              = 'Inventory Item'
              = text_field_tag :search, params[:search]
              = submit_tag "Search", :name => nil
      %table
        %tr
          %th Item name
          %th Unit
          %th Count
          %th.actions Actions
        - @items.each do |item|
          %tr
            %td= item.name
            %td= item.unit.name unless item.unit.nil?
            %td= item.item_count
            %td
              = link_to 'Show', inventoryitem_path(item)
              = link_to 'Edit', edit_inventoryitem_path(item)
              = link_to 'Destroy', inventoryitem_path(item), :confirm => 'Are you sure?', :method => :delete
      = link_to 'New Inventory Item', new_inventoryitem_path, :class => :button
