<div class="left"> 
<h2><a href="#">VIEW INVENTORY ITEMS</a></h2>
<hr />
<br/>
</div>

<div class="right"></div>
<div style="clear: both;"></div>
<table>
<% form_tag inventoryitems_path, :method => 'get' do %>
	<tr>
		<td>Inventory Item</td>
		<td><%= text_field_tag :search, params[:search] %></td>
		<td><%= submit_tag "Search", :name => nil %></td>
	</tr>
<% end %>
</table>

<table border="1">
  <tr>
    <th>Item name</th>
    <th>Unit</th>
	<th>Beginning Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventoryitems.each do |inventoryitem| %>
  <tr>
    <td><%= inventoryitem.item_name %></td>
    <td><%= inventoryitem.unit.unit_name %></td>
	<td><%= inventoryitem.beginning_count %></td>
    <td><%= link_to 'Show', inventoryitem %></td>
    <td><%= link_to 'Edit', edit_inventoryitem_path(inventoryitem) %></td>
    <td><%= link_to 'Destroy', inventoryitem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventoryitem', new_inventoryitem_path %>
