.block
  .content
    .inner
      %p
        %b Item name:
        = @item.name
      %p
        %b Branch:
        = @item.branch_location
      %p
        %b Unit:
        = @item.unit_name
      %p
        %b Subcategory:
        = @item.category_name @item.subcategory_name
      = link_to 'Edit', edit_inventoryitem_path(@item)
      |
      \#{link_to 'Back', inventoryitems_path}
