.block
  .content
    .inner
      %p
        %b Item name:
        = @inventoryitem.item_name
      %p
        %b Branch:
        = @inventoryitem.branch_id
      %p
        %b Unit:
        = @inventoryitem.unit_id
      = link_to 'Edit', edit_inventoryitem_path(@inventoryitem)
      |
      \#{link_to 'Back', inventoryitems_path}
