.block
  .content
    .inner
      %p
        %b Item name:
        = @item.name
      %p
        %b Branch:
        = @item.branch.location unless @item.branch.nil?
      %p
        %b Unit:
        = @item.unit.name unless @item.unit.nil?
      = link_to 'Edit', edit_inventoryitem_path(@item)
      |
      \#{link_to 'Back', inventoryitems_path}
