.block
  = render 'shared/menu/database'
  .content
    .title_action_bar
      %h2.title Currency
      - if can? :create, Currency
      .new_actions
        = link_to 'New Currency', new_currency_path, :class => :button
    .inner
      %table
        %tr
          %th Currency
          %th Symbol
          %th Action

        - @currencies.each do |currency|
          %tr
            %td= currency.currency
            %td= currency.symbol
            %td
              = link_to 'Show', currency
              - if can? :edit, currency
                = link_to 'Edit', edit_currency_path(currency)
              - if can? :destroy, currency
                = link_to 'Destroy', currency, :confirm => 'Are you sure?', :method => :delete
    = paginate @currencies