= form_for(@category_sale) do |f|
  - if @category_sale.errors.any?
    #error_explanation
      %h2
        = pluralize(@category_sale.errors.count, "error")
        prohibited this category_sale from being saved:
      %ul
        - @category_sale.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :cs_id
    %br/
    = f.text_field :cs_id
  .field
    = f.label :cs_amount
    %br/
    = f.text_field :cs_amount
  .actions
    = f.submit
