<%= form_for(@csrow) do |f| %>
  <% if @csrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@csrow.errors.count, "error") %> prohibited this csrow from being saved:</h2>

      <ul>
      <% @csrow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cs_id %><br />
    <%= f.text_field :cs_id %>
  </div>
  <div class="field">
    <%= f.label :cs_amount %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
