%h1 Listing category_sales
%table
  %tr
    %th Cs
    %th Cs amount
    %th
    %th
    %th
  - @category_sales.each do |category_sale|
    %tr
      %td= category_sale.cs_id
      %td= category_sale.cs_amount
      %td= link_to 'Show', category_sale
      %td= link_to 'Edit', edit_category_sale_path(category_sale)
      %td= link_to 'Destroy', category_sale, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New category_sale', new_category_sale_path
