<p id="notice"><%= notice %></p>

<p>
  <b>Cs:</b>
  <%= @csrow.cs_id %>
</p>

<p>
  <b>Cs amount:</b>
  <%= @csrow.cs_amount %>
</p>


<%= link_to 'Edit', edit_csrow_path(@csrow) %> |
<%= link_to 'Back', csrows_path %>
