= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
  .field
  %td= f.label :job_name
  %td= f.text_field :job_name
  %tr
  .field
  %td= f.label :department_id
  %td= f.collection_select :department_id, Department.find(:all), :id, :department_name, :prompt => "Select Department"
  %tr
  .actions
  %td &nbsp;
  %td= f.submit
