.left
  %h2
    %a{:href => "#"} VIEW JOBS
  %hr/
  %br/
.right
%div{:style => "clear: both;"}
%table{:border => "1"}
  %tr
    %th Job name
    %th Department
    %th
    %th
    %th
  - @jobs.each do |job|
    %tr
      %td= job.job_name
      %td= job.department_id
      %td= link_to 'Show', job
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Job', new_job_path
