.block
  .content
    %h2 Purchase Items
    .inner
      - form_tag '/purchaseitems/search' do
        %table
          %tr
            %td From
            %td= date_select(:start, '', :start_year => 2010)
          %tr
            %td To
            %td= date_select(:end, '', :start_year => 2010)
          %tr
            %td &nbsp;
            %td= submit_tag :Search
      %table
        %tr
          %th
          %th Purchase date
          %th Invoice
          %th Supplier
          %th Branch
          %th Inventory
          %th Purchase unitcost
          %th Purchase quantity
          %th Purchase amount
          %th Vat type
          %th Vat amount
          %th Net amount
          %th
          %th
          %th
        - totalamount = 0
        - totalnet = 0
        - totalvat = 0
        - form_tag '/purchaseitems/savemultiple' do
          - @purchaseitems.each do |purchaseitem|
            %tr
              %td
                %center
                  - if purchaseitem.save_as_draft == 1
                    = check_box_tag "purchaseitem_ids[]", purchaseitem.id
              %td= purchaseitem.purchase_date.strftime("%B %d, %Y")
              %td= purchaseitem.invoice_id
              %td
                - supplierId = purchaseitem.supplier_id
                - s = Supplier.find(supplierId)
                = s.supplier_name
              %td
                - branchId = purchaseitem.branch_id
                - b = Branch.find(branchId)
                = b.branch_location
              %td
                - inventoryId = purchaseitem.inventory_id
                - i = Inventoryitem.find(inventoryId)
                = i.item_name
              %td= purchaseitem.purchase_unitCost
              %td= purchaseitem.purchase_quantity
              %td= #number_to_currency(purchaseitem.purchase_amount, :precision => 2)   |
                  number_with_precision(purchaseitem.purchase_amount, :precision => 2) |
              - totalamount = totalamount + purchaseitem.purchase_amount
              %td= purchaseitem.vat_type
              %td= number_with_precision(purchaseitem.vat_amount, :precision => 2)
              - totalvat = totalvat + purchaseitem.vat_amount
              %td= number_with_precision(purchaseitem.net_amount, :precision => 2)
              - totalnet = totalnet + purchaseitem.net_amount
              %td= link_to 'Show', purchaseitem
              %td= link_to 'Edit', edit_purchaseitem_path(purchaseitem)
              %td= link_to 'Destroy', purchaseitem, :confirm => 'Are you sure?', :method => :delete
          %tr
            %td= submit_tag 'Save'
            / select checkboxes na checked
            %td
              %center
                %b Total
            %td
            %td
            %td
            %td
            %td
            %td
            %td= number_with_precision(totalamount, :precision => 2)
            %td
            %td= number_with_precision(totalvat, :precision => 2)
            %td= number_with_precision(totalnet, :precision => 2)
            %td
            %td
            %td
      %br/
      = link_to 'New Purchase Item', new_purchaseitem_path, :class => 'button'
