<div class="left"> 
<h2><a href="#">VIEW PURCHASES</a></h2>
<hr />
<br/>
</div>

<div class="right"></div>
<div style="clear: both;"></div>

<% form_tag '/purchaseitems/search' do %>
<table>
	<tr>
		<td>From</td>
		<td><%= date_select(:start, '', :start_year => 2010) %></td>
	</tr>
	<tr>
		<td>To</td>
		<td><%= date_select(:end, '', :start_year => 2010) %></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><%= submit_tag :Search %></td>
	</tr>
</table>
<% end %>

<table border="1">
  <tr>
  	<th></th>
    <th>Purchase date</th>
    <th>Invoice</th>
    <th>Supplier</th>
    <th>Branch</th>
    <th>Inventory</th>
    <th>Purchase unitcost</th>
    <th>Purchase quantity</th>
    <th>Purchase amount</th>
    <th>Vat type</th>
    <th>Vat amount</th>
    <th>Net amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% totalamount = 0 %>
<% totalnet = 0 %>
<% totalvat = 0 %>

<% form_tag '/purchaseitems/savemultiple' do %>
<% @purchaseitems.each do |purchaseitem| %>
  <tr>
  	<td><center><% if purchaseitem.save_as_draft == 1 %>
    	<%= check_box_tag "purchaseitem_ids[]", purchaseitem.id %>
    	<% end %></center></td>
    <td><%= purchaseitem.purchase_date.strftime("%B %d, %Y") %></td>
    <td><%= purchaseitem.invoice_id %></td>
    <td><% supplierId = purchaseitem.supplier_id %>
    	<% s = Supplier.find(supplierId) %>
    	<%= s.supplier_name %>
    </td>
    
    <td><% branchId = purchaseitem.branch_id %>
    	<% b = Branch.find(branchId) %>
    	<%= b.branch_location %>
    </td>
    
    <td><% inventoryId = purchaseitem.inventory_id %>
    	<% i = Inventoryitem.find(inventoryId)%>
    	<%= i.item_name %>
    </td>
    
    <td><%= purchaseitem.purchase_unitCost %></td>
    <td><%= purchaseitem.purchase_quantity %></td>
    <td><%= #number_to_currency(purchaseitem.purchase_amount, :precision => 2) 
    	number_with_precision(purchaseitem.purchase_amount, :precision => 2) %></td>
    <% totalamount = totalamount + purchaseitem.purchase_amount %>
    
    <td><%= purchaseitem.vat_type %></td>
    
    <td><%= number_with_precision(purchaseitem.vat_amount, :precision => 2) %></td>
    <% totalvat = totalvat + purchaseitem.vat_amount %>
    <td><%= number_with_precision(purchaseitem.net_amount, :precision => 2) %></td>
    <% totalnet = totalnet + purchaseitem.net_amount %>
    
    <td><%= link_to 'Show', purchaseitem %></td>
    <td><%= link_to 'Edit', edit_purchaseitem_path(purchaseitem) %></td>
    <td><%= link_to 'Destroy', purchaseitem, :confirm => 'Are you sure?', :method => :delete %></td> 
  </tr>
<% end %>

	<tr>
		<td><%= submit_tag 'Save' %></td> <!-- select checkboxes na checked-->
	    <td><center><b>Total</b></center></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td><%= number_with_precision(totalamount, :precision => 2) %></td>
	    <td></td>
	    <td><%= number_with_precision(totalvat, :precision => 2) %></td>
	    <td><%= number_with_precision(totalnet, :precision => 2) %></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
</table>
<br />
<% end %>

<%= link_to 'New Purchaseitem', new_purchaseitem_path %>