.block
  .content
    .title_action_bar
      %h2.title List of Users
      - if can? :create, User
        .new_actions
          = link_to 'New User', new_user_path, :class => :button
    .inner
      %table
        %tr
          %th Email
          %th.actions.last= 'Actions'
        - @users.each do |user|
          %tr
            %td= user.email
            %td.actions.last
              = link_to 'Show', user
              - if can? :edit, user
                = link_to 'Edit', edit_user_path(user)
              - if can? :destroy, user
                = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
