<%= form_for(@restaurantcategory) do |f| %>
  <% if @restaurantcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurantcategory.errors.count, "error") %> prohibited this restaurantcategory from being saved:</h2>

      <ul>
      <% @restaurantcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>
	
<table>
  <tr>
	  <div class="field">
		<td><%= f.label :category_listName %></td>
		<td><%= f.text_field :category_listName %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td>Restaurant</td>
		<td><%= f.collection_select :restaurant_id, Restaurant.find(:all), :id, :restaurant_name, :prompt => "Select Restaurant" %></td>
	  </div>
  </tr>
  <tr>
	  <div class="actions">
		<td>&nbsp;</td>
		<td><%= f.submit %></td>
	  </div>
  </tr>
</table>
<% end %>
