= form_for(@restaurantcategory) do |f|
  - if @restaurantcategory.errors.any?
    #error_explanation
      %h2
        = pluralize(@restaurantcategory.errors.count, "error")
        prohibited this restaurantcategory from being saved:
      %ul
        - @restaurantcategory.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
  .field
  %td= f.label :category_listName
  %td= f.text_field :category_listName
  %tr
  .field
  %td Restaurant
  %td= f.collection_select :restaurant_id, Restaurant.find(:all), :id, :restaurant_name, :prompt => "Select Restaurant"
  %tr
  .actions
  %td &nbsp;
  %td= f.submit
