%p#notice= notice
%p
  %b Category listname:
  = @restaurantcategory.category_listName
%p
  %b Restaurant:
  = @restaurantcategory.restaurant_id
= link_to 'Edit', edit_restaurantcategory_path(@restaurantcategory)
|
\#{link_to 'Back', restaurantcategories_path}
