.left
  %h2
    %a{:href => "#"} SALES BY SETTLEMENT TYPE
  %hr/
  %br/
  - form_tag '/settlement_sales/search' do
    %table{:border => "0", :width => "500"}
      %tr
        %td From:
        %td= date_select(:start, '', :start_year => 2010)
        %td= label_tag :restaurant
        %td= text_field_tag :restaurant
      %tr
        %td To:
        %td= date_select(:end, '', :start_year => 2010)
        %td= label_tag :branch
        %td= text_field_tag :branch
      %tr
        %td
        %td &nbsp;
        %td &nbsp;
        %td= submit_tag :Search
  %br/
.right
  %strong Change View:
  %br/
  /
    <select>
    <option>Sales by Category</option>
    <option>Sales by Settlement Type</option>
    <option>Sales by Server:</option>
    <option>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Category</option>
    <option>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Settlement Type</option>
    </select>
  = link_to 'Sales by Category Type', categorysales_path
  %br/
  = link_to 'Sales by Settlement Type', settlement_sales_path
  %br/
  = link_to 'Server Sales by Settlement Type', serversales_path
%div{:style => "clear:both;"}
%hr/
%h2
  %a{:href => "#"} Listing Sales by Settlement Type
%br/
%table{:border => "1"}
  %tr
    %th Date
    - @settlement_types.each do |settlementtype|
      %th= settlementtype.st_name
    %th VOIDS
    %th GROSS TOTAL
    %th NET TOTAL
  - @settlement_sales.each do |date, settlement_sale|
    %tr
      %td= date
      - @settlement_types.each do |st|
        %td= Ssrow.joins('JOIN settlement_sales ON ssrows.settlement_sale_id = settlement_sales.id').where("settlement_type_id = ? AND ss_date = ?",st,date).all.map(&:ss_amount).sum
      %td= settlement_sale.first.void
      %td= settlement_sale.first.gross_total
      %td= settlement_sale.first.net_total
%br/
= link_to 'New Settlement sale', new_settlement_sale_path
