.form
  .input.item-name
    .ui-widget
      = label_tag :item_id, 'Item Name'
      = select_tag :item_id, options_for_select(Item.all.map { |item| [item.name, item.id] })
  .input.item-quantity
    = label_tag :quantity, 'Quantity'
    = text_field_tag :quantity, nil, :style => 'width:30%'
    = select_tag :unit_id, options_for_select(Unit.all.map { |unit| [unit.name, unit.id] })
  %fieldset.input.item-vat-type.radio_group
    = radio_button_tag :vat_type, 'VAT-Exclusive', nil, :id => 'vat_type_exclusive'
    = label_tag :vat_type_exclusive, 'VAT-Exclusive'
    = radio_button_tag :vat_type, 'VAT-Inclusive', nil, :id => 'vat_type_inclusive'
    = label_tag :vat_type_inclusive, 'VAT-Inclusive'
    = radio_button_tag :vat_type, 'VAT-Exempted', nil, :id => 'vat_type_exempted'
    = label_tag :vat_type_exempted, 'VAT-Exempted'
  .input.item-amount
    = label_tag :amount, 'Amount'
    = text_field_tag :amount
  .actions
    = submit_tag 'Add Item', :id => 'add-item'
