= simple_form_for(PurchaseItem.new, :url => '/purchase_items/validate', :remote => true, :html => { 'data-type' => 'html'}) do |f|
  = f.input :item_id, :collection => Item.accessible_by(current_ability).map { |item| [item.name, item.id] }
  = f.input :quantity, :input_html => { :style => 'width:30%' }
  = f.association :unit
  = f.input :vat_type, :label => 'VAT Type',
    :collection => ['VAT-Exclusive', 'VAT-Inclusive', 'VAT-Exempted']
  = f.input :particulars
  = f.input :amount
  .actions
    = f.button :submit, :value => 'Add Item', :id => 'add-item'
