= simple_form_for @purchase do |f|
  %fieldset.purchase_form
    = f.input :id, :as => :hidden
    - if can? :manage, Branch
      = f.association :branch, :collection => Branch.accessible_by(current_ability).map{ |branch| [branch.location, branch.id] }
    = f.input :purchase_date, :label => 'Date', :input_html => {:value => Date.today}
    = f.association :supplier
    = f.input :invoice_number
    = f.association :currency, :collection => Currency.all.map{ |currency| [currency.currency, currency.id] }

  %table#purchase_items
    %thead
      %tr
        %th= 'Item Name'
        %th.number= 'Quantity'
        %th= 'Particulars'
        %th= 'Unit Price'
        %th= 'VAT Type'
        %th.monetary= 'Amount'
        %th.actions= 'Actions'
    %tbody
      - @purchase.purchase_items.each do |purchase_item|
        = render :partial => 'purchases/purchase_item_row', :locals => { :purchase_item => purchase_item }
    %tfoot
      %tr.totals
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td Total
        %td#purchase_total_amount.monetary= number_to_currency(@purchase.amount, :unit => peso_sign)
        %td &nbsp;
  .actions
    = f.submit
