= simple_form_for @purchase do |f|
  - if @purchase.errors.any?
    #error_explanation
      %h2
        = pluralize(@purchase.errors.count, "error")
        prohibited this purchase from being saved:
      %ul
        - @purchase.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.purchase_form
    = f.input :id, :as => :hidden
    = f.input :purchase_date, :label => "Date", :as => :string, :input_html => { :class => 'datepicker'}
    = f.input :invoice_id
    = f.association :supplier
    = f.association :branch, :collection => Branch.all.map{ |branch| [branch.location, branch.id] }

  %table.purchase-items
    %tbody#purchase_items
      %tr
        %th= 'Item Description'
        %th= 'Quantity'
        %th= 'Unit Cost'
        %th= 'VAT Type'
        %th= 'Amount'
        %th.actions= 'Actions'
      = f.fields_for :purchase_items do |pi_form|
        = render :partial => 'purchases/purchase_item_row', :locals => { :f => pi_form }
    %tbody#totals
      %tr{:style => 'font-weight: bold;'}
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td Total
        %td#purchase_total_amount.monetary= number_to_currency(@purchase.amount, :unit => peso_sign)
        %td &nbsp;

    .actions
      = f.submit
