- content_for :sidebar do
  %h3 Search
  = render :partial => 'shared/purchase_search_list', locals: { item_name_field: false, search_path: 'purchases/search' }

.block
  .content
    = render 'shared/menu/reports'
    .title_action_bar
      %h2.title View Purchases
      .new_actions
        = 'Download as'
        = link_to 'CSV', purchases_path(params.merge(format: 'csv'))  
    .inner
      %table
        %tbody.purchase-data
          %tr
            %th= 'Invoice number'
            %th= 'Invoice date'
            %th= 'Supplier'
            %th= 'Purchase amount'
            %th= 'Net Amount'
            %th= 'VAT Amount'
            %th.actions.last= 'Actions'
          - @purchases.each do |purchase|
            %tr
              %td= purchase.invoice_number
              %td= purchase.purchase_date.strftime("%-d-%b-%Y") if purchase.purchase_date
              %td= link_to purchase.supplier_name, supplier_path(purchase.supplier)
              %td.monetary= number_to_currency(purchase.amount, :unit => peso_sign)
              %td.monetary= number_to_currency(purchase.net_amount, :unit => peso_sign)
              %td.monetary= number_to_currency(purchase.vat_amount, :unit => peso_sign)
              %td.actions.last
                = link_to 'Show', purchase_path(purchase)
                - if can? :edit, purchase
                  = link_to 'Edit', edit_purchase_path(purchase)
                - if can? :destroy, purchase
                  = link_to 'Delete', purchase_path(purchase), :method => :delete, :confirm => 'Are you sure you want to delete this purchase?'
      = paginate @purchases

