- content_for :sidebar do
  %h3 Search
  = form_tag '/purchases/search', :method => :get do
    .input
      = label_tag 'Invoice Number'
      = text_field_tag :invoice_number, params[:invoice_number]
    .input
      = label_tag 'Supplier'
      = text_field_tag :supplier, params[:supplier]
    .input
      = label_tag 'Purchase Date'
      .input_group
        .div_tag
          ="From"
          = text_field_tag :start_date, params[:start_date], :class => 'datepicker'
        .div_tag
          ="To"
          = text_field_tag :end_date, params[:end_date], :class => 'datepicker'
    .actions
      = submit_tag :Search

.block
  .content
    .title_action_bar
      %h2.title View Purchases
      .new_actions
        = link_to 'New purchase', new_purchase_path, :class => :button
    .inner
      %table
        %tbody.purchase-data
          %tr
            %th= 'Invoice number'
            %th= 'Invoice date'
            %th= 'Supplier'
            %th= 'Purchase amount'
            %th= 'Net Amount'
            %th= 'VAT Amount'
            %th.actions.last= 'Actions'
          - @purchases.each do |purchase|
            %tr
              %td= purchase.invoice_number
              %td= purchase.purchase_date.strftime("%-d-%b-%Y") if purchase.purchase_date
              %td= purchase.supplier_name
              %td.monetary= number_to_currency(purchase.amount, :unit => peso_sign)
              %td.monetary= number_to_currency(purchase.net_amount, :unit => peso_sign)
              %td.monetary= number_to_currency(purchase.vat_amount, :unit => peso_sign)
              %td.actions.last
                = link_to 'Show', purchase_path(purchase)
                = link_to 'Edit', edit_purchase_path(purchase)
                - if can? :destroy, Branch
                  = link_to 'Delete', purchase_path(purchase), :method => :delete, :confirm => 'Are you sure you want to delete this purchase?'
    = paginate @purchases

