.block
  .content
    .search_box
      = form_tag '/purchases/search', :method => :get do
        .input
          = label_tag 'From'
          = text_field_tag :start_date, params[:start_date], :class => 'datepicker'
        .input
          = label_tag 'To'
          = text_field_tag :end_date, params[:end_date], :class => 'datepicker'
        .actions
          = submit_tag :Search
      %h2.title View Purchases
      .inner
        %table
          %tbody.purchase-data
            %tr
              %th= 'Invoice number'
              %th= 'Invoice date'
              %th= 'Supplier'
              %th= 'Purchase amount'
              %th= 'VAT Amount'
              %th= 'Net Amount'
              %th= 'Invoice Total'
              %th.actions= 'Actions'
            - @purchases.each do |purchase|
              %tr
                %td= purchase.invoice_id
                %td= purchase.purchase_date
                %td= purchase.supplier.name if purchase.supplier
                %td= purchase.amount
                %td= purchase.amount
                %td= purchase.amount
                %td= purchase.amount
                %td
                  = link_to 'Show', purchase_path(purchase)
                  = link_to 'Edit', edit_purchase_path(purchase)
                  = link_to 'Delete', purchase_path(purchase), :method => :delete, :confirm => 'Are you sure you want to delete this purchase?'
        = link_to 'New purchase', new_purchase_path, :class => :button

