.block
  .content
    .inner
      %p
        %b Purchase date:
        = @purchase.purchase_date.strftime("%B %d, %Y")
      %p
        %b Invoice:
        = @purchase.invoice_id
      %p
        %b Supplier:
        = @purchase.supplier.name if @purchase.supplier
      %p
        %b Branch:
        - branchId = @purchase.branch_id
        - branch = Branch.find(branchId)
        = branch.location
      %table
        %tbody.purchase_items
          %tr
            %th= 'Inventory item'
            %th= 'Purchase quantity'
            %th= 'Purchase amount'
            %th= 'Purchase unit cost'
            %th= 'VAT type'
            %th= 'VAT amount'
            %th= 'Net amount'
          - @purchase.purchase_items.each do |purchase_item|
            %tr
              %td= purchase_item.item_name
              %td= "#{purchase_item.quantity} #{purchase_item.unit_name}"
              %td.monetary= number_to_currency(purchase_item.amount, :unit => peso_sign)
              %td.monetary= purchase_item_unit_cost(purchase_item)
              %td= purchase_item.vat_type
              %td.monetary= number_to_currency(purchase_item.vat_amount, :unit => peso_sign)
              %td.monetary= number_to_currency(purchase_item.net_amount, :unit => peso_sign)
        %tbody.purchase_totals
          %tr
            %th &nbsp;
            %th= 'Total'
            %th.monetary= number_to_currency(@purchase.amount, :unit => peso_sign)
            %th &nbsp;
            %th &nbsp;
            %th.monetary= number_to_currency(@purchase.vat_amount, :unit => peso_sign)
            %th.monetary= number_to_currency(@purchase.net_amount, :unit => peso_sign)

      = link_to 'Back', purchases_path, :class => :button
