.block
  .content
    .inner
      %p
        %b Branch:
        = @purchase.branch_location
      %p
      %p
        %b Purchase date:
        = @purchase.purchase_date.strftime("%B %d, %Y") if @purchase.purchase_date
      %p
        %b Supplier:
        = @purchase.supplier.name if @purchase.supplier
      %p
        %b Invoice:
        = @purchase.invoice_number
      %p
        %b Created at:
        = @purchase.created_at
      %p
        %b Updated at:
        = @purchase.created_at
      %table
        %tbody.purchase_items
          %tr
            %th Inventory item
            %th Quantity
            %th.monetary Amount
            %th Unit Cost
            %th VAT type
            %th.monetary VAT amount
            %th.monetary Net amount
          - @purchase.purchase_items.each do |purchase_item|
            %tr
              %td= purchase_item.item_name
              %td= "#{purchase_item.quantity} #{purchase_item.unit_name}"
              %td.monetary= number_to_currency(purchase_item.amount, :unit => peso_sign)
              %td= purchase_item_unit_cost(purchase_item)
              %td= purchase_item.vat_type
              %td.monetary= number_to_currency(purchase_item.vat_amount, :unit => peso_sign)
              %td.monetary= number_to_currency(purchase_item.net_amount, :unit => peso_sign)
        %tbody
          %tr.totals
            %th &nbsp;
            %th Total
            %th.monetary= number_to_currency(@purchase.amount, :unit => peso_sign)
            %th &nbsp;
            %th &nbsp;
            %th.monetary= number_to_currency(@purchase.vat_amount, :unit => peso_sign)
            %th.monetary= number_to_currency(@purchase.net_amount, :unit => peso_sign)

      = link_to 'Back', purchases_path, :class => :button
