.block
  .content
    /%h2.title New purchase
    .inner
      %p#notice= notice
      %p
        %b Purchase date:
        = @purchase.purchase_date.strftime("%B %d, %Y")
      %p
        %b Invoice:
        = @purchase.invoice_id
      %p
        %b Supplier:
        - supplierId = @purchase.supplier_id
        - supplier = Supplier.find(supplierId)
        = supplier.name
      %p
        %b Branch:
        - branchId = @purchase.branch_id
        - branch = Branch.find(branchId)
        = branch.location
      %ol
        - for purchaserow in @purchase.purchaserows
          %hr/
          %b Inventory item:
          - inventoryId = purchaserow.item_id
          - item = Item.find(inventoryId)
          = item.name
          %br/
          %b Purchase unit:
          - unitId = purchaserow.unit_id
          - unit = Unit.find(unitId)
          = unit.name
          %br/
          %b Purchase unit cost:
          = number_with_precision(purchaserow.unit_cost, :precision => 2)
          %br/
          %b Purchase quantity:
          = number_with_precision(purchaserow.quantity, :precision => 0)
          %br/
          %b Purchase amount:
          = number_with_precision(purchaserow.amount, :precision => 2)
          %br/
          %b Vat type:
          = purchaserow.vat_type
          %br/
          %b Vat amount:
          = number_with_precision(purchaserow.vat_amount, :precision => 2)
          %br/
          %b Net amount:
          = number_with_precision(purchaserow.net_amount, :precision => 2)
          %br/
      / <haml:loud> link_to 'Edit', edit_purchase_path(@purchase) </haml:loud> |
      = link_to 'Back', purchases_path, :class => :button
