.block
  .content
    .inner
      %p
        %b Purchase date:
        = @purchase.purchase_date.strftime("%B %d, %Y")
      %p
        %b Invoice:
        = @purchase.invoice_id
      %p
        %b Supplier:
        = @purchase.supplier.name if @purchase.supplier
      %p
        %b Branch:
        - branchId = @purchase.branch_id
        - branch = Branch.find(branchId)
        = branch.location
      %table
        %tbody.purchase_items
          %tr
            %th= 'Inventory item'
            %th= 'Purchase unit'
            %th= 'Purchase unit cost'
            %th= 'Purchase quantity'
            %th= 'Purchase amount'
            %th= 'VAT type'
            %th= 'VAT amount'
            %th= 'Net amount'
          - @purchase.purchase_items.each do |purchase_item|
            %tr
              %td= purchase_item.item_name
              %td= purchase_item.unit_name
              %td.monetary= purchase_item.unit_cost
              %td= purchase_item.quantity
              %td.monetary= purchase_item.amount
              %td= purchase_item.vat_type
              %td.monetary= purchase_item.vat_amount
              %td.monetary= purchase_item.net_amount

      = link_to 'Back', purchases_path, :class => :button
