%nav#main-navigation
  %ul.wat-cf
    %li= link_to 'Sales', sales_path
    %li= link_to 'Purchases', purchases_path
    %li= link_to 'Inventory', inventoryitems_path
    %li= link_to 'Employees', employees_path
    %li= link_to 'Reports', reports_path
    %li= link_to 'Database', companies_path
    %li
      %a{:href => ""} Records
    %li
      %a{:href => ""} User Accounts
