%nav#main-navigation
  = tabs_tag :builder => MenuTabBuilder do |tab|
    = tab.sales '<i class="icon-sales"></i><span>New Sales</span>'.html_safe, new_sale_path
    = tab.purchases '<i class="icon-purchases"></i><span>New Purchases</span>'.html_safe, new_purchase_path
    = tab.inventory '<i class="icon-inventory"></i><span>Inventory</span>'.html_safe, endcounts_path
    -#= tab.employees 'Employees', employees_path
    = tab.reports '<i class="icon-reports"></i><span>Reports</span>'.html_safe, endcount_reports_path
    - if current_user.admin?
      = tab.database '<i class="icon-database"></i><span>Setup</span>'.html_safe, companies_path
    - else
      = tab.database '<i class="icon-database"></i><span>Setup</span>'.html_safe, branches_path
    - if can? :update, Company
      = tab.settings '<i class="icon-settings"></i><span>Settings</span>'.html_safe, '/settings'
