<p id="notice"><%= notice %></p>

<p>
  <b>Department name:</b>
  <%= @department.department_name %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @department.restaurant_id %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
