.secondary-navigation
  = tabs_tag :builder => MenuTabBuilder do |tab|
    %li= tab.organization 'Organization', companies_path
    %li= tab.setup_items 'Items', restaurants_path
    %li= tab.setup_sales 'Sales', branches_path
    %li= tab.setup_purchase 'Purchase', units_path
