.secondary-navigation
  = tabs_tag :builder => MenuTabBuilder do |tab|
    - if current_user.admin?
      = tab.database 'Organization', companies_path
    - else
      = tab.database 'Organization', branches_path
    %li= tab.setup_items 'Inventory Items', categories_path
    %li= tab.setup_sales 'Sales', sale_categories_path
    %li= tab.setup_purchase 'Purchases', suppliers_path
%hr
