.secondary-navigation
  %ul.wat-cf
    %li
      = link_to 'Companies', companies_path
    %li
      = link_to 'Restaurants', restaurants_path
    %li
      = link_to 'Suppliers', suppliers_path
    %li
      = link_to 'Categories', categories_path
    %li
      = link_to 'Subcategories', subcategories_path
    %li
      = link_to 'Branches', branches_path
    %li
      = link_to 'Settlement Type', settlement_types_path
    %li
      = link_to 'Units', units_path
    %li
      = link_to 'Items', inventoryitems_path
    %li
      = link_to 'Conversions', conversions_path
    %li
      = link_to 'Currencies'