.secondary-navigation
  = tabs_tag :builder => MenuTabBuilder do |tab|
    %li= tab.inventory 'Period End', endcounts_path
    %li= tab.items 'Items', inventoryitems_path
    %li= tab.categories 'Categories', categories_path
    %li= tab.subcategories 'Subcategories', subcategories_path
