<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
	  <div class="field">
		<td><%= f.label :company_name %></td>
		<td><%= f.text_field :company_name %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td><%= f.label :company_address %></td>
		<td><%= f.text_area :company_address, :rows => 3 %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td><%= f.label :company_number %></td>
		<td><%= f.text_field :company_number %></td>
	  </div>
  </tr>
  <tr>
	  <div class="actions">
		<td>&nbsp;</td>
		<td><%= f.submit %></td>
	  </div>
  </tr>
</table>
<% end %>
