.block
  .content
    .inner
      %p
        %b Company name:
        = @company.name
      %p
        %b Company address:
        = @company.address
      %p
        %b Company number:
        = @company.contact_number
      = link_to 'Edit', edit_company_path(@company), :class => 'button'
      = link_to 'Back', companies_path, :class => 'button'
