%h1 #{title}
.block#block-login
  %h2 Sign in
  .content.login
    - unless flash.empty?
      .flash
        - flash.each do |type, message|
          %div{ :class => "message #{type}" }
            %p= message
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .input
        = f.label :username
        = f.text_field :username
      .input
        = f.label :password
        = f.password_field :password
      - if devise_mapping.rememberable?
        .input.checkbox
          = f.label :remember_me
          = f.check_box :remember_me
      .actions
        %button.button{ type: 'submit' }
          = image_tag "web-app-theme/icons/key.png"
          Login
      %div{:style => 'text-align: right; padding-right: 60px'}
        = render :partial => "devise/shared/links"
