<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
	  <div class="field">
		<td><%= f.label :store_id %></td>
		<td><%= f.text_field :store_id %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td><%= f.label :restaurant_name %></td>
		<td><%= f.text_field :restaurant_name %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td>Company</td>
		<td><%= f.collection_select :company_id, Company.find(:all), :id, :company_name, :prompt => "Select Company" %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td><%= f.label :restaurant_description %></td>
		<td><%= f.text_area :restaurant_description, :rows => 4 %></td>
	  </div>
  </tr>
  <tr>
	  <div class="field">
		<td><%= f.label :currency_id %></td>
		<td><%= f.text_field :currency_id %></td>
	  </div>
  </tr>
  <tr>
	  <div class="actions">
		<td>&nbsp;</td>
		<td><%= f.submit %></td>
	  </div>
  </tr>
</table>
<% end %>
