.block
  = render 'shared/menu/database'
  .content
    %h2 Restaurants
    .inner
      %table
        %tr
          %th Store
          %th Name
          %th Company
          %th Description
          %th Currency
          %th.actions Actions
        - @restaurants.each do |restaurant|
          %tr
            %td= restaurant.store_id
            %td= restaurant.name
            %td= restaurant.company.name
            %td= restaurant.description
            %td= restaurant.currency_id
            %td
              = link_to 'Show', restaurant
              = link_to 'Edit', edit_restaurant_path(restaurant)
              = link_to 'Destroy', restaurant, :confirm => 'Are you sure?', :method => :delete
      = link_to 'New Restaurant', new_restaurant_path, :class => :button
