.block
  .content
    .inner
      %p
        %b Restaurant name:
        = @restaurant.name
      %p
        %b Company:
        = link_to @restaurant.company.name, company_path(@restaurant.company)
      %p
        %b Restaurant description:
        = @restaurant.description
      %p
        %b Currency:
        = @restaurant.currency_id
      = link_to 'Edit', edit_restaurant_path(@restaurant)
      |
      \#{link_to 'Back', restaurants_path}
