<p id="notice"><%= notice %></p>

<p>
  <b>Store:</b>
  <%= @restaurant.store_id %>
</p>

<p>
  <b>Restaurant name:</b>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <b>Company:</b>
  <%= @restaurant.company_id %>
</p>

<p>
  <b>Restaurant description:</b>
  <%= @restaurant.restaurant_description %>
</p>

<p>
  <b>Currency:</b>
  <%= @restaurant.currency_id %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
