%h1 Listing ssrows
%table
  %tr
    %th St
    %th Ss amount
    %th
    %th
    %th
  - @ssrows.each do |ssrow|
    %tr
      %td= ssrow.st_id
      %td= ssrow.ss_amount
      %td= link_to 'Show', ssrow
      %td= link_to 'Edit', edit_ssrow_path(ssrow)
      %td= link_to 'Destroy', ssrow, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Ssrow', new_ssrow_path
