= simple_form_for @unit do |f|
  = f.input :symbol
  = f.input :name
  = f.input :unit_type, :collection => ["mass","volume","length"] 
  = f.association :restaurant
  .actions
    = f.button :submit 
