- content_for :sidebar do
  %h2 Search
  = form_tag units_path, :method => 'get' do
    .input
      = label_tag 'Unit'
      = text_field_tag :search, params[:search]
    .actions
      = submit_tag :Search
.block
  = render 'shared/menu/database'
  .content
    .title_action_bar
      %h2 Units
      .new_actions
        - if can? :create, Unit
          = link_to 'New Unit', new_unit_path, :class => 'button'
    .inner
      %table.table_form
      %table
        %tr
          %th Symbol
          %th Name
          %th Unit Type
          %th.actions Actions
        - @units.each do |unit|
          %tr
            %td= unit.symbol
            %td= unit.name
            %td= unit.unit_type
            %td
              = link_to 'Show', unit
              - if can? :edit, unit  
                = link_to 'Edit', edit_unit_path(unit)
              - if can? :destroy, unit
                = link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete
    = paginate @units