- content_for :sidebar do
  %h3 Search
  = render :partial => 'shared/end_counts_search_form', locals: { search_path: 'endcounts/search' }

.block
  = render 'shared/menu/reports'
  .secondary-navigation
  .content
    %h2 Item Cost Analysis
    .inner
      %table
        %tr
          %th
          %th
          %th
          %th{:colspan => 2, :style => 'text-align:center; width: 25%;'} Beginning
          %th
          %th{:colspan => 2, :style => 'text-align:center; width: 25%'} Ending
          %th
        %tr
          %th Item
          %th Unit Cost
          %th Unit
          %th Count
          %th Total
          %th Purchases
          %th Count
          %th Total
          %th{ :title => 'Cost of Goods' } COGS
          
        - @endcount.items.each do |endcount_item|
          %tr
            %td= endcount_item.name
            %td.number= "#{number_to_currency(endcount_item.unit_cost, :unit => peso_sign)}"
            %td!= endcount_item.unit_name
            %td.number= endcount_item.beginning_count
            %td.monetary= number_to_currency(endcount_item.beginning_total, :unit => peso_sign) if endcount_item.beginning_count
            %td.monetary= number_to_currency(endcount_item.purchase_amount_period, :unit => peso_sign)
            %td.number= endcount_item.ending_count
            %td.monetary= number_to_currency(endcount_item.ending_total, :unit => peso_sign) if endcount_item.ending_count
            %td.monetary= number_to_currency(endcount_item.cogs, :unit => peso_sign)
