= form_for(@ecrow) do |f|
  - if @ecrow.errors.any?
    #error_explanation
      %h2
        = pluralize(@ecrow.errors.count, "error")
        prohibited this ecrow from being saved:
      %ul
        - @ecrow.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :endcount_id
    %br/
    = f.text_field :endcount_id
  .field
    = f.label :inventory_id
    %br/
    = f.text_field :inventory_id
  .field
    = f.label :begin_count
    %br/
    = f.text_field :begin_count
  .field
    = f.label :end_count
    %br/
    = f.text_field :end_count
  .actions
    = f.submit
