%h1 Listing ecrows
%table
  %tr
    %th Endcount
    %th Inventory
    %th Beginning count
    %th End count
    %th
    %th
    %th
  - @ecrows.each do |ecrow|
    %tr
      %td= ecrow.endcount_id
      %td= ecrow.inventory_id
      %td= ecrow.begin_count
      %td= ecrow.end_count
      %td= link_to 'Show', ecrow
      %td= link_to 'Edit', edit_ecrow_path(ecrow)
      %td= link_to 'Destroy', ecrow, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Ecrow', new_ecrow_path
