= simple_form_for @category do |f|
  %fieldset
    = f.association :restaurant, :collection => Restaurant.accessible_by(current_ability).map { |rest| [rest.name, rest.id] }
    = f.input :name
    = f.input :description
  .actions
    = f.button :submit
