.block
  = render 'shared/menu/inventory'
  .content
    .title_action_bar
      %h2.title Categories
      .new_actions
        - if can? :create, Category
          = link_to 'New Category', new_category_path, :class => 'button'
    .inner
      %table
        %tr
          %th Name
          %th Description
          %th Restaurants
          %th.actions Actions
        - @categories.each do |category|
          %tr
            %td= category.name
            %td= category.description
            %td= link_to category.restaurant.name, restaurant_path(category.restaurant) unless category.restaurant.nil?
            %td
              = link_to 'Show', category
              - if can? :edit, category
                = link_to 'Edit', edit_category_path(category)
              - if can? :destroy, category
                = link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete
      = paginate @categories
