.block
  .content
    %h2= "Category: #{@category.name}"
    .inner
      %p
        %b Description:
        = @category.description
      %p
        %b Restaurant category:
        = @category.restaurant.name
      = link_to 'Edit', edit_category_path(@category)
      |
      \#{link_to 'Back', categories_path}
