%p#notice= notice
%p
  %b Report name:
  = @reporttemplate.report_name
%p
  %b Report description:
  = @reporttemplate.report_description
= link_to 'Edit', edit_reporttemplate_path(@reporttemplate)
|
\#{link_to 'Back', reporttemplates_path}
