.block
  = render 'shared/menu/reports'
  .content
    %h2 Purchase Reports
    .inner
      %table
        %tr
          %th &nbsp;
          %th Item
          %th Invoice number
          %th Supplier name
          %th Purchase date
          %th Qty
          %th Unit
          %th Unit cost
          %th VAT
          %th Net amount
          %th Purchase amount
        - @purchase_items.each do |subcategory, purchase_items|
          %tr{id: dom_id(subcategory), class: 'subcategory_row'}
            %th{colspan: 10}= subcategory.name
            %th.monetary= number_to_currency(purchase_items.map(&:amount).inject(:+), :unit => peso_sign)
            - purchase_items.each do |purchase_item|
              %tr{id: dom_id(purchase_item.item), class: 'item_row'}
                %td &nbsp;
                %td= purchase_item.item.name
                %td= purchase_item.purchase.invoice_number
                %td= purchase_item.purchase.supplier_name
                %td= purchase_item.purchase.purchase_date
                %td= purchase_item.quantity
                %td= purchase_item.item.unit_name
                %td.monetary= number_to_currency(purchase_item.unit_cost, :unit => peso_sign)
                %td.monetary= number_to_currency(purchase_item.vat_amount, :unit => peso_sign)
                %td.monetary= number_to_currency(purchase_item.net_amount, :unit => peso_sign)
                %td.monetary= number_to_currency(purchase_item.purchase_amount, :unit => peso_sign)
