- content_for :sidebar do
  = content_tag(:h3, 'Search')
  = render partial: 'shared/purchase_search_form', locals: { item_name_field: true }

.block
  = render 'shared/menu/reports'
  .content
    .title_action_bar
      %h2.title= purchase_reports_title(@start_date, @end_date)
      - @start_date = params[:start_date]
      - @end_date = params[:end_date]
      .new_actions
        = 'Download as'
        = link_to 'CSV', :format => :csv
        = link_to 'PDF', :format => :pdf
    .inner
      %table
        %thead
          %tr
            %th &nbsp;
            %th Item
            %th Invoice number
            %th Supplier name
            %th Purchase date
            %th.monetary Qty
            %th Unit
            %th.monetary Unit cost
            %th.monetary VAT
            %th.monetary Purchase amount
            %th.monetary Net amount
        - grand_total = 0
        - @purchase_items.each do |subcategory, purchase_items|
          %tbody
            %tr{id: dom_id(subcategory), class: 'subcategory_row'}
              %th{colspan: 10}= subcategory.name
              - subtotal = purchase_items.map(&:net_amount).inject(:+)
              - grand_total += subtotal
              %th.monetary= number_to_currency(subtotal, :unit => peso_sign)
              - purchase_items.each do |purchase_item|
                - purchase_item.convert_unit = true
                %tr{id: dom_id(purchase_item.item), class: 'item_row'}
                  %td &nbsp;
                  %td= purchase_item.item.name
                  %td= purchase_item.purchase.invoice_number
                  %td= purchase_item.purchase.supplier_name
                  %td= purchase_item.purchase.purchase_date
                  %td.number= number_with_precision(purchase_item.quantity, :precision => 2, :delimeter => ',')
                  %td= purchase_item.item.unit_name
                  %td.monetary= number_to_currency(purchase_item.unit_cost, :unit => peso_sign)
                  %td.monetary= number_to_currency(purchase_item.vat_amount, :unit => peso_sign)
                  %td.monetary= number_to_currency(purchase_item.purchase_amount, :unit => peso_sign)
                  %td.monetary= number_to_currency(purchase_item.net_amount, :unit => peso_sign)
        %tfoot
          %tr.totals
            %th{class: 'grand_total', colspan: 10} Grand Total
            %th.monetary= number_to_currency(grand_total, :unit => peso_sign)
