- content_for :sidebar do
  = content_tag(:h3, 'Search')
  = render partial: 'shared/purchase_search_form', locals: { item_name_field: true }

.block
  = render 'shared/menu/reports'
  .content
    .title_action_bar
      %h2.title= purchase_reports_title(@start_date, @end_date)
      - @start_date = params[:start_date]
      - @end_date = params[:end_date]
      .new_actions
        = 'Download as'
        = link_to 'CSV', purchase_reports_path(params.merge(format: 'csv'))
        = link_to 'PDF', purchase_reports_path(params.merge(format: 'pdf'))
    .inner
      %table
        %thead
          %tr
            %th Item
            %th Subcategory
            %th Branch Name
            %th Invoice number
            %th Supplier name
            %th Purchase date
            %th Particulars
            %th.monetary Qty
            %th Unit
            %th.monetary Unit cost
            %th.monetary VAT
            %th.monetary Purchase amount
            %th.monetary Total amount
        - grand_total = 0
        - total_purchase_amount = 0
        - total_purchase_all = 0
        - total_purchase_amount_vat = 0
        - @purchase_items.each do |subcategory, purchase_items|
          %tbody
            - subtotal = purchase_items.map(&:net_amount).inject(:+)
            - grand_total += subtotal
            - purchase_items.each do |purchase_item|
              - purchase_item.convert_unit = true
              - total_purchase_amount +=  purchase_item.purchase_amount
              - total_purchase_amount_vat += purchase_item.vat_amount
              %tr{id: dom_id(purchase_item.item), class: 'item_row'}
                %td= purchase_item.item.name
                %td= subcategory.name
                %td= purchase_item.purchase.branch.location
                %td= purchase_item.purchase.invoice_number
                %td= link_to purchase_item.purchase.supplier_name, supplier_path(purchase_item.purchase.supplier)
                %td= purchase_item.purchase.purchase_date
                %td= purchase_item.particulars                  
                %td.number= number_with_precision(purchase_item.quantity, :precision => 2, :delimeter => ',')
                %td= purchase_item.item.unit_name
                %td.monetary= number_to_currency(purchase_item.unit_cost, :unit => peso_sign)
                %td.monetary= number_to_currency(purchase_item.vat_amount, :unit => peso_sign)
                - p_amount = purchase_item.purchase_amount - purchase_item.vat_amount
                %td.monetary= number_to_currency(p_amount, :unit => peso_sign)
                %td.monetary= number_to_currency(purchase_item.net_amount, :unit => peso_sign)
        %tfoot
          %tr.totals
            %th{:class => 'grand_total', :colspan => 11} Total
            - total_purchase_all =  total_purchase_amount - total_purchase_amount_vat
            %th.monetary= number_to_currency(total_purchase_all, :unit => peso_sign)
            %th.monetary= number_to_currency(grand_total, :unit => peso_sign)
