- content_for :sidebar do
  = content_tag(:h3, 'Search')
  = render partial: 'shared/purchase_search_form'

.block
  = render 'shared/menu/reports'
  .content
    %h2 Purchase Reports
    .inner
      %table
        %thead
          %tr
            %th &nbsp;
            %th Item
            %th Invoice number
            %th Supplier name
            %th Purchase date
            %th Qty
            %th Unit
            %th Unit cost
            %th VAT
            %th Net amount
            %th Purchase amount
        - grand_total = 0
        - @purchase_items.each do |subcategory, purchase_items|
          %tbody
            %tr{id: dom_id(subcategory), class: 'subcategory_row'}
              %th{colspan: 10}= subcategory.name
              - subtotal = purchase_items.map(&:net_amount).inject(:+)
              - grand_total += subtotal
              %th.monetary= number_to_currency(subtotal, :unit => peso_sign)
              - purchase_items.each do |purchase_item|
                %tr{id: dom_id(purchase_item.item), class: 'item_row'}
                  %td &nbsp;
                  %td= purchase_item.item.name
                  %td= purchase_item.purchase.invoice_number
                  %td= purchase_item.purchase.supplier_name
                  %td= purchase_item.purchase.purchase_date
                  %td= purchase_item.quantity
                  %td= purchase_item.item.unit_name
                  %td.monetary= number_to_currency(purchase_item.unit_cost, :unit => peso_sign)
                  %td.monetary= number_to_currency(purchase_item.vat_amount, :unit => peso_sign)
                  %td.monetary= number_to_currency(purchase_item.net_amount, :unit => peso_sign)
                  %td.monetary= number_to_currency(purchase_item.purchase_amount, :unit => peso_sign)
        %tfoot
          %tr
            %th{class: 'grand_total', colspan: 10} Grand Total
            %th.monetary= number_to_currency(grand_total, :unit => peso_sign)
