= form_for(@supplier) do |f|
  - if @supplier.errors.any?
    #error_explanation
      %h2
        = pluralize(@supplier.errors.count, "error")
        prohibited this supplier from being saved:
      %ul
        - @supplier.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
  .field
  %td= f.label :branch_id
  %td= f.collection_select :branch_id, Branch.find(:all), :id, :branch_location, :prompt => "Select Branch"
  %tr
  .field
  %td= f.label :supplier_name
  %td= f.text_field :supplier_name
  %tr
  .field
  %td= f.label :supplier_email
  %td= f.text_field :supplier_email
  %tr
  .field
  %td= f.label :supplier_address
  %td= f.text_area :supplier_address, :rows => 3
  %tr
  .field
  %td= f.label :supplier_description
  %td= f.text_area :supplier_description, :rows => 3
  %tr
  .field
  %td= f.label :supplier_number
  %td= f.text_field :supplier_number
  %tr
  .actions
  %td &nbsp;
  %td= f.submit
