.block
  = render 'shared/menu/database'
  .content
    .title_action_bar
      %h2.title Suppliers
      .new_actions
        - if can? :new, Supplier
          = link_to 'New Supplier', new_supplier_path, :class => 'button'
    .inner
      %table
        %tr
          %th Name
          %th Email
          %th Address
          %th Description
          %th Contact Number
          %th.actions Actions
        - @suppliers.each do |supplier|
          %tr
            %td= supplier.name
            %td= supplier.email
            %td= supplier.address
            %td= supplier.description
            %td= supplier.contact_number
            %td

              = link_to 'Show', supplier
              - if can? :edit, supplier
                = link_to 'Edit', edit_supplier_path(supplier)
              - if can? :destroy, supplier
                = link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete
    = paginate @suppliers
