.block
  = render 'shared/menu/database'
  .content
    %h2 Suppliers
    .inner
      %table
        %tr
          %th Branch
          %th Name
          %th Email
          %th Address
          %th Description
          %th Contact Number
          %th.actions Actions
        - @suppliers.each do |supplier|
          %tr
            %td= supplier.branch.location unless supplier.branch.nil?
            %td= supplier.name
            %td= supplier.email
            %td= supplier.address
            %td= supplier.description
            %td= supplier.contact_number
            %td
              = link_to 'Show', supplier
              = link_to 'Edit', edit_supplier_path(supplier)
              = link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete
      = link_to 'New Supplier', new_supplier_path, :class => 'button'
