.block
  .content
    %h2 Suppliers
    .inner
      %table
        %tr
          %th Branch
          %th Supplier name
          %th Supplier email
          %th Supplier address
          %th Supplier description
          %th Supplier number
          %th.actions Actions
        - @suppliers.each do |supplier|
          %tr
            %td= supplier.branch.branch_location
            %td= supplier.supplier_name
            %td= supplier.supplier_email
            %td= supplier.supplier_address
            %td= supplier.supplier_description
            %td= supplier.supplier_number
            %td
              = link_to 'Show', supplier
              = link_to 'Edit', edit_supplier_path(supplier)
              = link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete
      = link_to 'New Supplier', new_supplier_path, :class => 'button'
