<div class="left"> 
<h2><a href="#">VIEW SUPPLIERS</a></h2>
<hr />
<br/>
</div>

<div class="right"></div>
<div style="clear: both;"></div>
<table border="1">
  <tr>
    <th>Branch</th>
    <th>Supplier name</th>
    <th>Supplier email</th>
    <th>Supplier address</th>
    <th>Supplier description</th>
    <th>Supplier number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.branch_id %></td>
    <td><%= supplier.supplier_name %></td>
    <td><%= supplier.supplier_email %></td>
    <td><%= supplier.supplier_address %></td>
    <td><%= supplier.supplier_description %></td>
    <td><%= supplier.supplier_number %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
