.block
  .content
    %h2= "Supplier: #{@supplier.name}"
    .inner
      %p
        %b Branch:
        = @supplier.branch.location unless @supplier.branch.nil?
      %p
        %b Email:
        = @supplier.email
      %p
        %b Address:
        = @supplier.address
      %p
        %b Description:
        = @supplier.description
      %p
        %b Number:
        = @supplier.contact_number
      = link_to 'Edit', edit_supplier_path(@supplier)
      |
      \#{link_to 'Back', suppliers_path}
