<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @supplier.branch_id %>
</p>

<p>
  <b>Supplier name:</b>
  <%= @supplier.supplier_name %>
</p>

<p>
  <b>Supplier email:</b>
  <%= @supplier.supplier_email %>
</p>

<p>
  <b>Supplier address:</b>
  <%= @supplier.supplier_address %>
</p>

<p>
  <b>Supplier description:</b>
  <%= @supplier.supplier_description %>
</p>

<p>
  <b>Supplier number:</b>
  <%= @supplier.supplier_number %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
