.block
  .content
    %h2= "Supplier: #{@supplier.name}"
    .inner
      %p
        %b Company:
        = @supplier.company.name unless @supplier.company.nil?
      %p
        %b Email:
        = @supplier.email
      %p
        %b Address:
        = @supplier.address
      %p
        %b Description:
        = @supplier.description
      %p
        %b Number:
        = @supplier.contact_number
      %p
        %b Contact Person:
        = @supplier.contact_person
      %p
        %b Contact Title:
        = @supplier.contact_title
      %p
        %b Mobile Number:
        = @supplier.mobile_number
      %p
        %b TIN:
        = @supplier.tin
      - if can? :edit, Supplier
        = link_to 'Edit', edit_supplier_path(@supplier)
        |
      \#{link_to 'Back', suppliers_path}
