= simple_form_for(@sale) do |f|
  %fieldset
    - if can?(:manage, Branch)
      = f.input :branch_id, :collection => Branch.accessible_by(current_ability).map{|branch| [branch.location, branch.id]}
    = f.input :sale_date, :label => 'Date', :input_html => { :value => Date.today }

  %fieldset
    %legend= 'Sales By Category'
    = f.fields_for :sale_category_rows do |csf|
      .input
        = csf.hidden_field :category_id, :value => csf.object.category_id
        = f.label csf.object.category.name
        = csf.text_field :amount, :class => :category
    = f.input :vat
    = f.input :service_charge

  %fieldset
    %legend= 'Sales By Settlement'
    = f.fields_for :settlement_type_sales do |sts|
      .input
        = sts.hidden_field :settlement_type_id, :value => sts.object.settlement_type_id
        = f.label sts.object.settlement_type.name
        = sts.text_field :amount, :class => :settlementtype
    = f.input :gc_redeemed
    = f.input :delivery_sales

  %fieldset
    %legend= 'Statistics'
    = f.input :customer_count
    = f.input :transaction_count
    = f.input :delivery_transaction_count
    = f.input :credit_card_transaction_count
    = f.input :first_time_guest
    = f.input :repeat_guest

  -#%fieldset
    -#%legend= 'Sales By Server'
    -#= f.fields_for :sale_servers do |ss|
      -#.input
        -#= ss.hidden_field :server_id, :value => ss.object.server_id
        -#= f.label ss.object.server.name
        -#= ss.text_field :amount

  %fieldset
    %legend= 'Cash for Deposit'
    = f.input :cash_in_drawer
    = f.input :gc_sales
    = f.input :other_income

  .actions
    = f.button :submit
