- content_for(:head, javascript_include_tag(:sales))
= simple_form_for(@sale) do |f|
  %fieldset
    - if can?(:manage, Branch)
      = f.input :branch_id, :collection => Branch.accessible_by(current_ability).map{|branch| [branch.location, branch.id]}
    = f.input :sale_date, :label => 'Date', :input_html => { :value => Date.today }

  %fieldset
    %legend= 'Sales By Category'
    = f.fields_for :sale_category_rows do |csf|
      .input
        = csf.hidden_field :category_id, :value => csf.object.category_id
        = f.label csf.object.category.name
        = csf.text_field :amount, :class => :category
    = f.input :vat, :input_html => { :name => :vat }
    = f.input :service_charge

  %fieldset
    %legend= 'Sales By Settlement'
    = f.fields_for :settlement_type_sales do |sts|
      .input
        = sts.hidden_field :settlement_type_id, :value => sts.object.settlement_type_id
        = f.label sts.object.settlement_type.name
        = sts.text_field :amount, :class => :settlementtype
    = f.input :vat, :input_html => { :name => :vat }

  %fieldset
    %legend= 'Statistics'
    = f.input :customer_count
    = f.input :transaction_count

  %fieldset
    %legend= 'Cash for Deposit'
    = f.input :cash_in_drawer
    = f.input :gc_sales
    = f.input :other_income

  .actions
    = f.button :submit
