= simple_form_for(@sale) do |f|
  %fieldset
    - if can?(:manage, Branch)
      = f.input :branch_id, :collection => Branch.accessible_by(current_ability).map{|branch| [branch.location, branch.id]}
    = f.input :sale_date, :label => 'Date', :input_html => { :value => Date.today }

  %fieldset
    %legend= 'Sales By Category'
    = f.fields_for :sale_category_rows do |csf|
      .input
        = csf.hidden_field :category_id, :value => csf.object.category_id
        = f.label csf.object.category.name, :label => csf.object.category.name.upcase
        = csf.text_field :amount, :class => :category
    = f.input :vat, :label => "VAT"
    = f.input :service_charge, :label => "Service Charge"

  %fieldset
    %legend= 'Sales By Settlement'
    = f.fields_for :settlement_type_sales do |sts|
      .input
        = sts.hidden_field :settlement_type_id, :value => sts.object.settlement_type_id
        = f.label sts.object.settlement_type.name, :label => sts.object.settlement_type.name.upcase
        = sts.text_field :amount, :class => :settlementtype
    = f.input :cash_in_drawer, :label => "Cash In Drawer"
    = f.input :gc_redeemed, :label => "GC Redeemed" 
    = f.input :delivery_sales, :label => "Delivery Sales"

  %fieldset
    %legend= 'Statistics'
    = f.input :customer_count, :label => "Customer Count"
    = f.input :transaction_count, :label => "Transaction Count"
    = f.input :delivery_transaction_count, :label => "Delivery Transaction Count"
    = f.input :credit_card_transaction_count, :label => "Credit Card Transaction Count"
    = f.input :first_time_guest, :label => "First Time Guest"
    = f.input :repeat_guest, :label => "Repeat Guest"

  -#%fieldset
    -#%legend= 'Sales By Server'
    -#= f.fields_for :sale_servers do |ss|
      -#.input
        -#= ss.hidden_field :server_id, :value => ss.object.server_id
        -#= f.label ss.object.server.name
        -#= ss.text_field :amount

  %fieldset
    %legend= 'Cash for Deposit'
    = f.input :gc_sales, :label => "GC Sales"
    = f.input :other_income, :label => "Other Income"

  .actions
    = f.button :submit
