.block
  .secondary-navigation
    %ul.wat-cf
      %li
        = link_to 'Sales by Category Type', sales_path
      %li
        = link_to 'Sales by Settlement Type', sales_by_settlement_type_path
      %li
        = link_to 'Sales by Server', sales_by_server_path
  .content
    .search_box
      = form_tag '/sales/search' do
        .input
          = label_tag 'From'
          = text_field_tag :start_date, nil, :class => 'datepicker'
        .input
          = label_tag 'To'
          = text_field_tag :end_date, nil, :class => 'datepicker'
        .input
          = label_tag :restaurant
          = collection_select(:restaurant, :name, Restaurant.all, :id, :name, :prompt => true)
        .input
          = label_tag :branch
          = collection_select(:branch, :location, Branch.all, :id, :location, :prompt => true)
        .actions
          = submit_tag :Search, :class => 'button'
    %h2.title Listing Category Sales
    .inner
      - totalcateg = Hash.new
      %table
        %tr
          %th Date
          - @categories.each do |category|
            %th= category.name
            - totalcateg = Hash[category.id => 0]
          %th VAT
          %th Void
          %th Service Charge
          %th Total Revenue
          %th Customer Count
          %th Transaction Count
        - totalvat  = 0
        - totalvoid = 0
        - totalsc   = 0
        - totalrev  = 0
        - totalcc   = 0
        - totaltc   = 0
        - @sales.each do |date,sale|
          %tr
            %td= date.strftime("%b %d, %Y")
            - @categories.each do |category|
              %td.monetary= number_to_currency(CategorySale.category_sales_sum(date,category.id), :precision => 2, :unit => peso_sign)
              - totalcateg[category.id] = totalcateg[category.id].to_f + CategorySale.category_sales_sum(date,category.id)
            %td.monetary= number_to_currency(sale.map(&:vat).sum, :unit => peso_sign)
            - totalvat = totalvat + sale.map(&:vat).sum
            %td.monetary= number_to_currency(sale.map(&:void).sum, :precision => 2, :unit => peso_sign)
            - totalvoid = totalvoid + sale.map(&:void).sum
            %td.monetary= number_to_currency(sale.map(&:service_charge).sum, :precision => 2, :unit => peso_sign)
            - totalsc = totalsc + sale.map(&:service_charge).sum
            %td.monetary= number_to_currency(sale.map(&:total_revenue_cs).sum, :precision => 2, :unit => peso_sign)
            - totalrev = totalrev + sale.map(&:total_revenue_cs).sum
            %td= sale.map(&:customer_count).sum
            - totalcc = totalcc + sale.map(&:customer_count).sum
            %td= sale.map(&:transaction_count).sum
            - totaltc = totaltc + sale.map(&:transaction_count).sum
        %tr
          %td
            %b/
            %center TOTAL
          - @categories.each do |category|
            %td.monetary= number_to_currency(totalcateg[category.id], :precision => 2, :unit => peso_sign)
          %td.monetary= number_to_currency(totalvat, :precision => 2, :unit => peso_sign)
          %td.monetary= number_to_currency(totalvoid, :precision => 2, :unit => peso_sign)
          %td.monetary= number_to_currency(totalsc, :precision => 2, :unit => peso_sign)
          %td.monetary= number_to_currency(totalrev, :precision => 2, :unit => peso_sign)
          %td= totalcc
          %td= totaltc
      = link_to 'New Sale', new_sale_path, :class => :button
