.block
  = render :partial => 'shared/menu/sale'
  .content
    .title_action_bar
      %h2.title Listing Sales
      .new_actions
        = link_to 'New Sale', new_sale_path, :class => :button
    .inner
      %table
        %tr
          %th Date
          %th Branch
          %th.monetary Net Sales
          %th.monetary VAT
          %th.monetary Total Revenue
          %th.monetary Settlement Type Sales
          %th.monetary Cash for Deposit
          %th.actions= 'Actions'
        - @sales.each do |sale|
          %tr
            %td= sale.sale_date.strftime("%-d-%b-%Y")
            %td= sale.branch.location
            %td.monetary= sale.net_sales
            %td.monetary= sale.vat
            %td.monetary= sale.total_revenues
            %td.monetary= sale.total_settlement_type_sales
            %td.monetary= sale.cash_for_deposit
            %td
              = link_to 'Show', sale_path(sale)
