.block
  = render :partial => 'shared/menu/sale'
  .content
    .title_action_bar
      %h2.title Listing Sales
      .new_actions
        = link_to 'New Sale', new_sale_path, :class => :button
    .inner
      %table
        %tr
          %th Date
          %th Branch
          %th.monetary Net Sales
          %th.monetary VAT
          %th.monetary Total Revenue
          %th.monetary Settlement Type Sales
          %th.monetary Cash for Deposit
          %th.actions= 'Actions'
        - @sales.each do |sale|
          %tr
            %td= sale.sale_date.strftime("%-d-%b-%Y")
            %td= link_to sale.branch.location, branch_path(sale.branch)
            %td.monetary= number_to_currency(sale.net_sales, :unit => peso_sign)
            %td.monetary= number_to_currency(sale.vat, :unit => peso_sign)
            %td.monetary= number_to_currency(sale.total_revenues, :unit => peso_sign)
            %td.monetary= number_to_currency(sale.total_settlement_type_sales, :unit => peso_sign)
            %td.monetary= number_to_currency(sale.cash_for_deposit, :unit => peso_sign)
            %td
              - if can? :show, sale
                = link_to 'Show', sale_path(sale)
              - if can? :edit, sale
                = link_to 'Edit', edit_sale_path(sale)
              - if can? :destroy, sale
                = link_to 'Destroy', sale_path(sale), :method => :delete, :confirm => 'Are you sure?'
