<div class="left"> 
<h2><a href="#">SALES BY CATEGORY</a></h2>
<hr/>
<br/>

<% form_tag "/sales/search" do %>
<table width="500" border="0">
  <tr>
    <td>From:</td>
    <td><%= date_select(:from, '', :start_year => 2000) %></td>
    <td><%= label_tag :restaurant %></td>
	<td><%= collection_select(:restaurant, :restaurant_name, Restaurant.all, :id, :restaurant_name, :prompt => true) %></td>
  </tr>
  <tr>
    <td>To:</td>
    <td><%= date_select(:to, '', :start_year => 2000) %></td>
    <td><%= label_tag :branch %></td>
	<td><%= collection_select(:branch, :branch_location, Branch.all, :id, :branch_location, :prompt => true) %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= submit_tag :Search%></td>
  <% end %>
  </tr>
</table>
<br/>

</div>

<div class="right">
<strong>Change View: </strong>
<br />
<!--
<select>
  <option>Sales by Category</option>
  <option>Sales by Settlement Type</option>
  <option>Sales by Server:</option>
  <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Category</option>
  <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settlement Type</option>
</select>-->
<%= link_to 'Sales by Category Type', sales_path %><br />
<%= link_to 'Sales by Settlement Type', sales_by_settlement_type_path %><br />
<%= link_to 'Sales by Server', sales_by_server_path %>
</div>

<div style="clear:both;"></div>

<hr />
<h2><a href="#">Listing Category Sales </a></h2>
<br />
<% totalcateg = Hash.new %>
<table border="1" width="1000">
  <tr>
	<th>Date</th>
	<% @categories.each do |category|%>
	<th><%= category.category_name %></th>
		<% totalcateg = Hash[category.id => 0]%>
	<% end %>
    <th>Vat</th>
    <th>Void</th>
    <th>Service Charge</th>
    <th>Total Revenue</th>
    <th>Customer Count</th>
    <th>Transaction Count</th>
 </tr>

<% totalvat  = 0  %>
<% totalvoid = 0  %>
<% totalsc   = 0  %>
<% totalrev  = 0  %>
<% totalcc   = 0  %>
<% totaltc   = 0  %>
<% @sales.each do |date,sale| %>
  <tr>
	<td><%= date.strftime("%b %d, %Y") %></td>
	<% @categories.each do |category|%>
	<td><%= number_to_currency(Csrow.category_sales_sum(date,category.id), :precision => 2, :unit => " ") %></td>
	<% totalcateg[category.id] = totalcateg[category.id].to_f + Csrow.category_sales_sum(date,category.id) %>
  	<% end %>
  	<td><%= number_to_currency(sale.map(&:vat).sum, :precision => 2, :unit => " ") %></td>
	<% totalvat = totalvat + sale.map(&:vat).sum %>
  	<td><%= number_to_currency(sale.map(&:void).sum, :precision => 2, :unit => " ") %></td>
  	<% totalvoid = totalvoid + sale.map(&:void).sum %>
  	<td><%= number_to_currency(sale.map(&:service_charge).sum, :precision => 2, :unit => " ") %></td>
  	<% totalsc = totalsc + sale.map(&:service_charge).sum %>
  	<td><%= number_to_currency(sale.map(&:total_revenue_cs).sum, :precision => 2, :unit => " ") %></td>
  	<% totalrev = totalrev + sale.map(&:total_revenue_cs).sum %>
  	<td><%= sale.map(&:customer_count).sum %></td>
  	<% totalcc = totalcc + sale.map(&:customer_count).sum %>
  	<td><%= sale.map(&:transaction_count).sum %></td>
  	<% totaltc = totaltc + sale.map(&:transaction_count).sum %>
  </tr>
<% end %>
  <tr>
	<td><b><center>TOTAL</center></b></td>
	<% @categories.each do |category|%>
	<td><%= number_to_currency(totalcateg[category.id], :precision => 2, :unit => " ") %></td>
  	<% end %>
  	<td><%= number_to_currency(totalvat, :precision => 2, :unit => " ") %></td>
  	<td><%= number_to_currency(totalvoid, :precision => 2, :unit => " ") %></td>
  	<td><%= number_to_currency(totalsc, :precision => 2, :unit => " ") %></td>
  	<td><%= number_to_currency(totalrev, :precision => 2, :unit => " ") %></td>
  	<td><%= totalcc %></td>
  	<td><%= totaltc %></td>
  </tr>
</table>
<br />

<%= link_to 'New Sale', new_sale_path %>
