.block
  .secondary-navigation
    %ul.wat-cf
      %li
        = link_to 'Sales by Category Type', sales_path
      %li
        = link_to 'Sales by Settlement Type', sales_by_settlement_type_path
      %li
        = link_to 'Sales by Server', sales_by_server_path
  .content
    /%h2.title SALES BY CATEGORY
    .left
      = form_tag :sales_by_settlement_type do
        %table.table_form
          %tr
            %td
              = 'From:'
              = date_select(:from, '', :start_year => 2000)
              = label_tag :restaurant
              = collection_select(:restaurant, :name, Restaurant.all, :id, :name, :prompt => true)
            %td
              = 'To:'
              = date_select(:to, '', :start_year => 2000)
              = label_tag :branch
              = collection_select(:branch, :location, Branch.all, :id, :location, :prompt => true)
            %td= submit_tag :Search
      %br/

    %h2.title Listing Sales by Settlement Type

    .inner
      - totalst = Hash.new
      %table
        %tr
          %th Date
          - @settlement_types.each do |settlementtype|
            %th= settlementtype.name
            - totalst = Hash[settlementtype.id => 0]
          %th VOIDS
          %th GROSS TOTAL
          %th NET TOTAL
        - totalvat = 0
        - totalgross = 0
        - totalnet = 0
        - @sales.each do |date,sale|
          %tr
            %td= date.strftime("%b %d, %Y")
            - @settlement_types.each do |settlementtype|
              %td= number_to_currency(SettlementTypeSale.settlement_sales_sum(date,settlementtype.id), :precision => 2, :unit => " ")
              - totalst[settlementtype.id] = totalst[settlementtype.id].to_f + SettlementTypeSale.settlement_sales_sum(date,settlementtype.id)
            %td= number_to_currency(sale.map(&:void).sum, :precision => 2, :unit => " ")
            - totalvat = totalvat + sale.map(&:void).sum
            %td= number_to_currency(sale.map(&:gross_total_ss).sum, :precision => 2, :unit => " ")
            - totalgross = totalgross + sale.map(&:gross_total_ss).sum
            %td= number_to_currency(sale.map(&:net_total_ss).sum, :precision => 2, :unit => " ")
            - totalnet = totalnet + sale.map(&:net_total_ss).sum
        %tr
          %td
            %center
              %b TOTAL
          - @settlement_types.each do |settlementtype|
            %td= number_to_currency(totalst[settlementtype.id], :precision => 2, :unit => " ")
          %td= number_to_currency(totalvat, :precision => 2, :unit => " ")
          %td= number_to_currency(totalgross, :precision => 2, :unit => " ")
          %td= number_to_currency(totalnet, :precision => 2, :unit => " ")
      = link_to 'New Sale', new_sale_path, :class => :button
