.block
  .secondary-navigation
    %ul.wat-cf
      %li
        = link_to 'Sales by Category Type', sales_path
      %li
        = link_to 'Sales by Settlement Type', sales_by_settlement_type_path
      %li
        = link_to 'Sales by Server', sales_by_server_path
  .content
    .left
      /%h2 SALES BY SERVER
      = form_tag :sales_by_server do
        %table.table_form
          %tr
            %td
              = 'From:'
              = date_select(:from, '', :start_year => 2000)
              = label_tag :restaurant
              = collection_select(:restaurant, :name, Restaurant.all, :id, :name, :prompt => true)
            %td
              = 'To:'
              = date_select(:to, '', :start_year => 2000)
              = label_tag :branch
              = collection_select(:branch, :location, Branch.all, :id, :location, :prompt => true)
            %td
              = 'Server:'
              = collection_select(:employee, :employee_id, Employee.all, :id, :full_name, :prompt => true)
            %td= submit_tag :Search

    %h2.title Listing Sales By Server

    .inner
      - totalst = Hash.new
      %table
        %tr
          %th
          %th Date
          %th Server Name
          - @settlement_types.each do |settlementtype|
            %th= settlementtype.name
            - totalst = Hash[settlementtype.id => 0]
          %th VOIDS
          %th GROSS TOTAL
          %th NET TOTAL
          %th
        - totalvoid = 0
        - totalgross   = 0
        - totalnet  = 0
        = form_tag '/sales/savemultiple' do
          - @sales.each do |sale|
            %tr
              %td
                - if sale.save_as_draft == 1
                  %center
                    = check_box_tag "sale_ids[]", sale.id
                    %center
              %td= sale.date.strftime("%b %d, %Y")
              %td= sale.employee.first_name
              - sale.settlement_type_sales.each do |ss|
                %td.monetary= number_to_currency(ss.ss_amount, :precision => 2, :unit => peso_sign)
                - totalst[ss.settlement_type_id] = totalst[ss.settlement_type_id].to_f + ss.ss_amount
              %td.monetary= number_to_currency(sale.void, :precision => 2, :unit => peso_sign)
              - totalvoid = totalvoid + sale.void
              %td.monetary= number_to_currency(sale.gross_total_ss, :precision => 2, :unit => peso_sign)
              - totalgross = totalgross + sale.gross_total_ss
              %td.monetary= number_to_currency(sale.net_total_ss, :precision => 2, :unit => peso_sign)
              - totalnet  = totalnet + sale.net_total_ss
              %td
                - if sale.save_as_draft == 1
                  = link_to "Edit", edit_sale_path(sale)
          %tr
            %td
            %td
              %center
                %b TOTAL
            %td &nbsp;
            - @settlement_types.each do |settlementtype|
              %td.monetary= number_to_currency(totalst[settlementtype.id], :precision => 2, :unit => peso_sign)
            %td.monetary= number_to_currency(totalvoid, :precision => 2, :unit => peso_sign)
            %td.monetary= number_to_currency(totalgross, :precision => 2, :unit => peso_sign)
            %td.monetary= number_to_currency(totalnet, :precision => 2, :unit => peso_sign)
            %td
      = link_to 'New Sale', new_sale_path, :class => :button
