.block
  .content
    .inner
      %p
        %b Branch:
        = @sale.branch.location
      %p
        %b Date:
        = @sale.sale_date.strftime("%-d-%b-%Y")
      %table
        %tr
          %th{:colspan => 3}= 'Sale by Category'
        %tr
        - sale_categories_percentage = Array.new
        - @sale.sale_category_rows.each do |scr|
          %tr
            %td= scr.category.name
            %td.monetary= scr.amount
            - amount_percentage = scr.amount.to_f.percent_of(@sale.net_sales)
            - sale_categories_percentage << amount_percentage
            %td=  number_to_percentage(amount_percentage)
        %tr.totals
          %td= 'Net Sales'
          %td.monetary= @sale.net_sales
          %td= number_to_percentage(sale_categories_percentage.inject(:+))
        - revenues_percentage = Array.new
        %tr
          %td= 'VAT'
          %td.monetary= @sale.vat
          - vat_percentage = @sale.vat.percent_of(@sale.total_revenues)
          - revenues_percentage << vat_percentage
          %td= number_to_percentage(vat_percentage)
        %tr
          %td= 'Service Charge'
          %td.monetary= @sale.service_charge
          - service_charge_percentage = @sale.service_charge.percent_of(@sale.total_revenues)
          - revenues_percentage << service_charge_percentage
          %td= number_to_percentage(service_charge_percentage)
        %tr.totals
          %td= 'Total Revenues'
          %td.monetary= @sale.total_revenues
          %td= number_to_percentage(revenues_percentage.inject(:+))
        %tr
          %th{:colspan => 4}= 'Sale by Settlement Type'

        - settlement_type_percentage = Array.new
        - @sale.settlement_type_sales.each do |sts|
          %tr
            %td= sts.settlement_type.name
            %td.monetary= sts.amount
            - sts_amount_percentage = sts.amount.percent_of(@sale.total_settlement_type_sales)
            - settlement_type_percentage << sts_amount_percentage
            %td= number_to_percentage(sts_amount_percentage)
        %tr
          %td= 'GC Redeemed'
          %td.monetary= @sale.gc_redeemed
          - gc_redeemed_percentage = @sale.gc_redeemed.percent_of(@sale.total_settlement_type_sales)
          - settlement_type_percentage << gc_redeemed_percentage
          %td= number_to_percentage(gc_redeemed_percentage)
        %tr
          %td= 'Delivery'
          %td.monetary= @sale.delivery_sales
          - delivery_sale_percentage = @sale.delivery_sales.percent_of(@sale.total_settlement_type_sales)
          - settlement_type_percentage << delivery_sale_percentage
          %td= number_to_percentage(delivery_sale_percentage)
        %tr.totals
          %td= 'Total'
          %td.monetary= @sale.total_settlement_type_sales
          %td= number_to_percentage(settlement_type_percentage.inject(:+))
        %tr
          %th{:colspan => 4}= 'Statistics'
        %tr
          %td= 'Customer Count'
          %td.monetary= @sale.customer_count
          %td{:colspan => 2}
        %tr
          %td= 'Per Person Average'
          %td.monetary= @sale.per_person_ave
          %td{:colspan => 2}
        %tr
          %td= 'Transaction Count'
          %td.monetary= @sale.transaction_count
          %td{:colspan => 2}
        %tr
          %td= 'Per Trans Average'
          %td.monetary= @sale.per_trans_ave
          %td{:colspan => 2}
        %tr
          %th{:colspan => 4}= 'Cash For Deposit'
        %tr
          %td= 'Cash in Drawer'
          %td.monetary= @sale.cash_in_drawer
          %td{:colspan => 2}
        %tr
          %td= 'GC Sales'
          %td.monetary= @sale.gc_sales
          %td{:colspan => 2}
        %tr
          %td= 'Other Income'
          %td.monetary= @sale.other_income
          %td{:colspan => 2}
        %tr.totals
          %td= 'Total'
          %td.monetary= @sale.cash_for_deposit
          %td{:colspan => 2}

      = link_to 'Edit', edit_sale_path(@sale)
      |
      \#{link_to 'Back', sales_path}
