.block
  .content
    %h2 Item Cost Analysis
    .inner
      %table
        %tr
          %th
          %th
          %th{:colspan => 2, :style => 'text-align:center; width: 25%;'} Beginning
          %th
          %th{:colspan => 2, :style => 'text-align:center; width: 25%'} Ending
        %tr
          %th Item
          %th Unit Cost
          %th Count
          %th Total
          %th Purchases
          %th Count
          %th Total
        - @endcount.items.each do |endcount|
          %tr
            %td= endcount.name
            %td!= "#{number_to_currency(endcount.average_unit_cost, :unit => peso_sign)}/#{endcount.unit_symbol}"
            %td.number= endcount.beginning_count
            %td.monetary= number_to_currency(endcount.beginning_total, :unit => peso_sign) if endcount.beginning_count
            %td.monetary= number_to_currency(endcount.purchase, :unit => peso_sign)
            %td.number= endcount.ending_count
            %td.monetary= number_to_currency(endcount.ending_total, :unit => peso_sign) if endcount.ending_count
      = link_to 'New Branch', new_branch_path, :class => 'button'
