.block
  .content
    %h2 Sales by Category Reports
    .inner
      - form_tag '/reports/search' do
        %table{:border => "0", :width => "500"}
          %tr
            %td Date:
            %td= date_select(:date,'', :start_year => 1950)
            %td= label_tag :restaurant
            %td= text_field_tag :restaurant
          %tr
            %td &nbsp;
            %td &nbsp;
            %td Branch:
            %td= text_field_tag :branch
          %tr
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
            %td= submit_tag :Search
        %br/
      .right
        %strong Change View:
        %br/
        = link_to 'Sales by Category Reports', categorysales_path
        %br/
        = link_to 'Purchase Reports', purchasereports_path
      %div{:style => "clear:both;"}
      %hr/
      %div
        %br/
        %h1
          %a{:href => "#"} Daily Sales
        %br/
        %table{:border => "0", :width => "500"}
          - @sales.each do |date, sale|
            %tr
              %td
                %b Date:
              %td= date.strftime("%B %d, %Y")
              %td &nbsp;
              %td &nbsp;
            %tr
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
            - total = 0
            - @categories.each do |category|
              - total = total + Csrow.category_sales_sum(date,category.id)
            - @categories.each do |category|
              %tr
                %td= category.category_name
                %td= Csrow.category_sales_sum(date,category.id)
                %td
                  = Csrow.category_sales_sum(date,category.id)/total*100
                  \&nbsp;%
            %tr
              %td &nbsp;
              %td
                %hr/
              %td
                %hr/
            %tr
              %td TOTAL
              %td= total
              %td 100%
            %tr
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
            - total = 0
            - @settlement_types.each do |settlement_type|
              - total = total + Ssrow.settlement_sales_sum(date,settlement_type.id)
            - @settlement_types.each do |settlement_type|
              %tr
                %td= settlement_type.st_name
                %td= Ssrow.settlement_sales_sum(date,settlement_type.id)
                %td
                  = Ssrow.settlement_sales_sum(date,settlement_type.id)/total*100
                  \&nbsp;%
            %tr
              %td &nbsp;
              %td
                %hr/
              %td
                %hr/
            %tr
              %td TOTAL
              %td= total
              %td 100%
