<div class="left"> 
<h2><a href="#">SALES BY CATEGORY REPORTS</a></h2>
<hr />
<br/>
<% form_tag '/reports/search' do %>
<table width="500" border="0">
  <tr>
	<td>Date:</td>
	<td><%= date_select(:date,'', :start_year => 1950) %></td>
	<td><%= label_tag :restaurant %></td>
	<td><%= text_field_tag :restaurant  %></td>
	
  </tr>
  <tr>
  	<td>&nbsp;</td>
	<td>&nbsp;</td>
  	<td>Branch:</td>
	<td><%= text_field_tag :branch %></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
    <td>&nbsp;</td>
	<td><%= submit_tag :Search %></td>
  <% end %>
  </tr>
</table>
<br/>

</div>
<div class="right">
<strong>Change View: </strong>
<br />
	<%= link_to 'Sales by Category Reports', '/reports/categorysales'%>
</div>
<div style="clear:both;"></div>
<hr />

<div>
	<br />
	<h1><a href="#">Daily Sales</a></h1>
	<br />
	<table width="500" border="0">
    
    <% @sales.each do |date, sale| %>
	<tr>
		<td><b>Date:</b></td>
		<td><%= date.strftime("%B %d, %Y") %></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	
	<% total = 0 %>
	<% @categories.each do |category|%>
	<%     total = total + Csrow.category_sales_sum(date,category.id) %>	
	<% end %>
	
	<% @categories.each do |category|%>
	  <tr>
		<td><%= category.category_name %></td>
		<td><%= Csrow.category_sales_sum(date,category.id) %></td>
		<td><%= Csrow.category_sales_sum(date,category.id)/total*100 %>&nbsp;%</td>
  	  </tr>
  	<% end %>
  	<tr>
		<td>&nbsp;</td>
		<td><hr /></td>
		<td><hr /></td>
	</tr>
  	<tr>
	    <td>TOTAL</td>
	    <td><%= total %></td>	
	    <td>100%</td>	  
	</tr>
    <tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	
	<% total = 0 %>
	<% @settlement_types.each do |settlement_type| %>
	<%     total = total + Ssrow.settlement_sales_sum(date,settlement_type.id) %>	
	<% end %>
	
	<% @settlement_types.each do |settlement_type| %>
	  <tr>
		<td><%= settlement_type.st_name %></td>
		<td><%= Ssrow.settlement_sales_sum(date,settlement_type.id) %></td>
		<td><%= Ssrow.settlement_sales_sum(date,settlement_type.id)/total*100 %>&nbsp;%</td>
  	  </tr>
  	<% end %>
  	<tr>
		<td>&nbsp;</td>
		<td><hr /></td>
		<td><hr /></td>
	</tr>
  	<tr>
	    <td>TOTAL</td>
	    <td><%= total %></td>	
	    <td>100%</td>	  
	</tr>
	</table>	
</div>
<% end %>