.left
  %h2
    %a{:href => "#"} PURCHASE REPORTS
  %hr/
  %br/
.right
%div{:style => "clear: both;"}
= form_tag '/purchasereports/search' do
  %table
    %tr
      %td From
      %td= date_select(:start, '', :start_year => 2010)
    %tr
      %td To
      %td= date_select(:end, '', :start_year => 2010)
    %tr
      %td &nbsp;
      %td= submit_tag :Search
    %tr
      %td &nbsp;
      %td &nbsp;
    %tr
      %td Supplier
      %td= collection_select(:supplier, :supplier_id, Supplier.all, :id, :supplier_name, :prompt => true)
      %td Invoice number
      %td= text_field(:invoice_number, "Invoice number", :style => "width:100px")
      %td Category
      %td= collection_select(:category, :category_id, Category.all, :id, :category_name, :prompt => true)
      %td Subategory
      %td= collection_select(:subcategory, :subcategory_id, Subcategory.all, :id, :subcategory_name, :prompt => true)
      %td Item
      %td= collection_select(:inventoryitem, :item_id, Inventoryitem.all, :id, :item_name, :prompt => true)
    %tr
      %td &nbsp;
      %td= submit_tag "Search by supplier"
      %td &nbsp;
      %td= submit_tag "Search by invoice"
      %td &nbsp;
      %td= submit_tag "Search by category"
      %td &nbsp;
      %td= submit_tag "Search by subcategory"
      %td &nbsp;
      %td= submit_tag "Search by item"
%br/
%table{:border => "1", :width => "1000"}
  %tr
    %th Purchase date
    %th Invoice
    %th Supplier
    %th Branch
    %th Item
    %th Quantity
    %th Unit
    %th Unit Cost
    %th Quantity
    %th Unit
    %th Unit Cost
    %th Amount
    %th VAT-Type
    %th VAT-Amount
    %th Net-Amount
    %th Invoice total
  - totalamount = 0
  - totalnet = 0
  - totalvat = 0
  - @purchases.each do |purchase|
    - for purchase_item in purchase.purchaserows
      %tr
        %td= purchase.purchase_date.strftime("%B %d, %Y")
        %td= purchase.invoice_id
        %td
          - supplierId = purchase.supplier_id
          - s = Supplier.find(supplierId)
          = s.supplier_name
        %td
          - branchId = purchase.branch_id
          - b = Branch.find(branchId)
          = b.branch_location
        %td
          - itemId = purchase_item.item_id
          - i = Inventoryitem.find(itemId)
          = h i.item_name
        %td= h number_with_precision(purchase_item.purchase_quantity, :precision => 0)
        %td
          - unitId1 = purchase_item.purchase_unit
          - u = Unit.find(unitId1)
          - unit1 = u.unit_name
          = h unit1
        %td= h number_with_precision(purchase_item.purchase_unitCost, :precision => 2)
        - q = purchase_item.purchase_quantity
        - i = Inventoryitem.find(itemId)
        - unitId2 = i.unit_id
        - u = Unit.find(unitId2)
        - unit2 = u.unit_name
        %td
          - if unitId1==unitId2
            = h number_with_precision(purchase_item.purchase_quantity, :precision => 0)
          - else
            - temp1 = Conversion.where("b_unit = ? and s_unit = ?",unitId1,unitId2)
            - temp2 = Conversion.where("b_unit = ? and s_unit = ?",unitId2,unitId1)
            - if temp1.count>0
              - conversion_num = temp1.first.conversionNumber
              - inventory_quantity = q*(1/(1/conversion_num))
              = inventory_quantity
            - else
              - if temp2.count>0
                - conversion_num = temp2.first.conversionNumber
                - inventory_quantity = q*(1/conversion_num)
                = inventory_quantity
        %td= unit2
        %td
          = unit1
          and #{unit2}
        %td= h number_with_precision(purchase_item.amount, :precision => 2)
        %td= h purchase_item.vat_type
        %td= h number_with_precision(purchase_item.vat_amount, :precision => 2)
        %td= h number_with_precision(purchase_item.net_amount, :precision => 2)
        - totalamount = totalamount + purchase_item.amount
        - totalvat = totalvat + purchase_item.vat_amount
        - totalnet = totalnet + purchase_item.net_amount
        - invoicetotal = 0
        %td
          - @p = purchase_item.where(:purchase_id => purchase.id)
          - @p.each do |purchase_item|
            - invoicetotal = invoicetotal + purchase_item.amount
          = number_with_precision(invoicetotal, :precision => 2)
  %tr
    %td
      %b Total
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %b= number_with_precision(totalamount, :precision => 2)
    %td
    %td
      %b= number_with_precision(totalvat, :precision => 2)
    %td
      %b= number_with_precision(totalnet, :precision => 2)
    %td
      %b= number_with_precision(totalamount, :precision => 2)
