- content_for :sidebar do
  %h3 Search
  = render :partial => 'shared/end_counts_search_form', locals: { search_path: '/directional' }

.block
  = render 'shared/menu/reports'
  .content
    .title_action_bar
      %h2.title Directional
    .inner
      %table
        %tr
          %th Net Sales
          %th &nbsp;

        - @directional.net_sales.each do |category, net_sale|
          %tr
            %td= category
            %td= net_sale
        %tr.totals
          %td= 'Total'
          %td= @directional.net_sale_total

      %table{:title => 'Cost of Goods'}
        %tr
          %th Cost of Goods
          %th.number Beggining
          %th.monetary Purchase
          %th.number Purchase %
          %th.number Ending
          %th.number COGS
          %th.number COGS %
          %th.number Goal %
          %th.number VAR +/-
        - @directional.cogs.each do |c|
          %tr
            %td= c.name
            %td.number= number_with_precision(c.beginning, :precision => 2, :delimiter => 2)
            %td.monetary= number_to_currency(c.purchase, :unit => peso_sign)
            %td.number= number_to_percentage(c.purchase_perc)
            %td.number= number_with_precision(c.ending, :precision => 2, :delimiter => 2)
            %td.number= number_with_precision(c.cogs, :precision => 2, :delimiter => 2)
            %td.number= number_to_percentage(c.cogs_perc)
            %td.number= number_to_percentage(c.subcategory.goal)
            %td.number= number_to_percentage(c.var_perc)
