- content_for :sidebar do
  %h3 Search
  = render :partial => 'shared/directional_search_month', locals: { search_path: '/directional' }

.block
  = render 'shared/menu/reports'
  .content
    .title_action_bar
      %h2.title
      .new_actions
        = 'Download as'
        = link_to 'CSV', :format => :csv
        = link_to 'PDF', :format => :pdf
    .inner
      %table
        %tr
          %th Net Sales (Category)
          %th &nbsp;
          %th.monetary Percentage
        - directional_categories_percentage = Array.new
        - last_year = @directional.last_year
        - @directional.net_sales.each do |category, net_sale|
          %tr
            %td= category
            %td.monetary= number_to_currency(net_sale, :unit => peso_sign)
            - amount_percentage = net_sale.to_f.percent_of(@directional.net_sale_total)
            - directional_categories_percentage << amount_percentage
            %td.monetary=  number_to_percentage(amount_percentage, :precision => 2)
        %tr.totals
          %td= 'Total'
          %td.monetary= number_to_currency(@directional.net_sale_total, :precision => 2, :unit => peso_sign)
          %td.monetary= number_to_percentage(directional_categories_percentage.inject(:+), :precision => 2)
        %tr
          %th Net Sales
          %th.monetary{:title => 'Month to Date', :class => 'number'} MTD
          %th.number Last year
        %tr.totals
          %td= 'Total'
          %td.monetary= number_to_currency(@directional.net_sale_total, :precision => 2, :unit => peso_sign)
          %td.monetary= number_to_currency(last_year.net_sale_total, :precision => 2, :unit => peso_sign)
        %tr
          %td Customer Count
          %td.number= number_with_precision(@directional.customer_count, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.customer_count, :precision => 2, :delimiter => ',')
        %tr
          %td Per Person Ave
          %td.number= number_to_currency(@directional.per_person_ave, :precision => 2, :unit => peso_sign )
          %td.number= number_to_currency(last_year.per_person_ave, :precision => 2, :unit => peso_sign )
        %tr
          %td Transaction Count
          %td.number= number_with_precision(@directional.transaction_count, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.transaction_count, :precision => 2, :delimiter => ',')
        %tr
          %td Per Transaction Ave
          %td.number= number_to_currency(@directional.per_trans_ave, :precision => 2, :unit => peso_sign )
          %td.number= number_to_currency(last_year.per_trans_ave, :precision => 2, :unit => peso_sign )
        %tr
          %td Delivery Transaction Count
          %td.number= number_with_precision(@directional.delivery_transaction_count, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.delivery_transaction_count, :precision => 2, :delimiter => ',')
        %tr
          %td Per Delivery Transaction Ave
          %td.number= number_to_currency(@directional.per_del_trans_ave, :precision => 2, :unit => peso_sign )
          %td.number= number_to_currency(last_year.per_del_trans_ave, :precision => 2, :unit => peso_sign )  
        %tr
          %td Credit Card Transaction Count
          %td.number= number_with_precision(@directional.cc_transaction_count, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.cc_transaction_count, :precision => 2, :delimiter => ',')  
        %tr
          %td Per Credit Card Transaction Ave
          %td.number= number_to_currency(@directional.per_cc_trans_ave, :precision => 2, :unit => peso_sign )
          %td.number= number_to_currency(last_year.per_cc_trans_ave, :precision => 2, :unit => peso_sign )  
          
      %table{:title => 'Settlement Types'}
        %tr
          %th Complimentary Analysis
          %th.monetary MTD
          %th.monetary % To NET SALES
        - @settlement_type.each do |st| 
          - settlement_type_sales_amount = st.settlement_type_sales.map(&:amount).reject(&:nil?).inject(:+).to_f || 0
          - settlement_type_sales_percentage = (settlement_type_sales_amount / @directional.net_sale_total) * 100
          %tr
            %td= st.name
            %td.monetary= number_to_currency(st.settlement_type_sales.map(&:amount).reject(&:nil?).inject(:+).to_f || 0, :precision => 2, :unit => peso_sign)
            %td.monetary= number_to_percentage(settlement_type_sales_percentage, :precision => 2)
      
      %table{:title => 'Cost of Goods'}
        %tr
          %th Cost of Goods
          %th.number Beginning
          %th.monetary Purchase
          %th.number Purchase %
          %th.number Ending
          %th.number COGS
          %th.number COGS %
          %th.number Goal %
          %th.number VAR +/-
        - cogs_beginning_total = Array.new
        - cogs_purchase_total = Array.new
        - cogs_purchase_percentage_total = Array.new
        - cogs_ending_total = Array.new
        - cogs_cogs_total = Array.new
        - cogs_cogs_percentage_total = Array.new
        - cogs_subcategory_goal_total = Array.new
        - cogs_var_percentage_total = Array.new
        
        - cogs_beginning_total2 = Array.new
        - cogs_purchase_total2 = Array.new
        - cogs_purchase_percentage_total2 = Array.new
        - cogs_ending_total2 = Array.new
        - cogs_cogs_total2 = Array.new
        - cogs_cogs_percentage_total2 = Array.new
        - cogs_subcategory_goal_total2 = Array.new
        - cogs_var_percentage_total2 = Array.new
        
        - @directional.cogs.each do |c|
          %tr
            %td= c.name
            %td.number= number_with_precision(c.beginning, :precision => 2, :delimiter => ',')
            %td.monetary= number_to_currency(c.purchase, :unit => peso_sign)
            %td.number= number_to_percentage(c.purchase_perc, :precision => 2)
            %td.number= number_with_precision(c.ending, :precision => 2, :delimiter => ',')
            %td.number= number_to_currency(c.cogs, :unit => peso_sign)
            %td.number= number_to_percentage(c.cogs_perc, :precision => 2)
            %td.number= number_to_percentage(c.subcategory.goal, :precision => 2)
            %td.number= number_to_percentage(c.var_perc, :precision => 2)
            - cogs_beginning_total << c.beginning
            - cogs_purchase_total << c.purchase
            - cogs_purchase_percentage_total << c.purchase_perc
            - cogs_ending_total << c.ending
            - cogs_cogs_total << c.cogs
            - cogs_cogs_percentage_total << c.cogs_perc
            - cogs_subcategory_goal_total << c.subcategory.goal
            - cogs_var_percentage_total << c.var_perc          
        %tr
          %td.monetary= 'Food and Beverage Total'
          %td.number= number_with_precision(cogs_beginning_total.inject(:+), :precision => 2)
          %td.monetary= number_to_currency(cogs_purchase_total.inject(:+), :unit => peso_sign)
          %td.number= number_to_percentage(cogs_purchase_percentage_total.inject(:+), :precision => 2)
          %td.number= number_with_precision(cogs_ending_total.inject(:+), :precision => 2, :delimiter => 2)
          %td.number= number_to_currency(cogs_cogs_total.inject(:+), :unit => peso_sign)
          %td.number= number_to_percentage(cogs_cogs_percentage_total.inject(:+), :precision => 2)
          %td.number= number_to_percentage(cogs_subcategory_goal_total.reject(&:nil?).inject(:+) || 0, :precision => 2)
          %td.number= number_to_percentage(cogs_var_percentage_total.reject(&:nil?).inject(:+) || 0, :precision => 2)  
        
        - @directional.cogs2.each do |c2|
          %tr
            %td= c2.name
            %td.number= number_with_precision(c2.beginning, :precision => 2, :delimiter => ',')
            %td.monetary= number_to_currency(c2.purchase, :unit => peso_sign)
            %td.number= number_to_percentage(c2.purchase_perc, :precision => 2)
            %td.number= number_with_precision(c2.ending, :precision => 2, :delimiter => ',')
            %td.number= number_to_currency(c2.cogs, :unit => peso_sign)
            %td.number= number_to_percentage(c2.cogs_perc, :precision => 2)
            %td.number= number_to_percentage(c2.subcategory.goal, :precision => 2)
            %td.number= number_to_percentage(c2.var_perc, :precision => 2)
            - cogs_beginning_total2 << c2.beginning
            - cogs_purchase_total2 << c2.purchase
            - cogs_purchase_percentage_total2 << c2.purchase_perc
            - cogs_ending_total2 << c2.ending
            - cogs_cogs_total2 << c2.cogs
            - cogs_cogs_percentage_total2 << c2.cogs_perc
            - cogs_subcategory_goal_total2 << c2.subcategory.goal
            - cogs_var_percentage_total2 << c2.var_perc          
        %tr
          %td.monetary= 'Alcohol Total'
          %td.number= number_with_precision(cogs_beginning_total2.inject(:+), :precision => 2)
          %td.monetary= number_to_currency(cogs_purchase_total2.inject(:+), :unit => peso_sign)
          %td.number= number_to_percentage(cogs_purchase_percentage_total2.inject(:+), :precision => 2)
          %td.number= number_with_precision(cogs_ending_total2.inject(:+), :precision => 2, :delimiter => 2)
          %td.number= number_to_currency(cogs_cogs_total2.inject(:+), :unit => peso_sign)
          %td.number= number_to_percentage(cogs_cogs_percentage_total2.inject(:+), :precision => 2)
          %td.number= number_to_percentage(cogs_subcategory_goal_total2.reject(&:nil?).inject(:+) || 0, :precision => 2)
          %td.number= number_to_percentage(cogs_var_percentage_total2.reject(&:nil?).inject(:+) || 0, :precision => 2)
           
      %table{:title => 'Labor Hours'}
        %tr
          %td='Total Labor Hours'
          %td= @directional.total_labor_hours
