- content_for :sidebar do
  %h3 Search
  = render :partial => 'shared/end_counts_search_form', locals: { search_path: '/directional' }

.block
  = render 'shared/menu/reports'
  .content
    .title_action_bar
      %h2.title Directional
    .inner
      %table
        %tr
          %th Net Sales
          %th{:title => 'Month to Date', :class => 'number'} MTD
          %th.number Last year

        - last_year = @directional.last_year
        - @directional.net_sales.each do |category, net_sale|
          %tr
            %td= category
            %td.monetary= number_to_currency(net_sale, :unit => peso_sign)
            %td &nbsp;
        %tr.totals
          %td= 'Total'
          %td.monetary= number_to_currency(@directional.net_sale_total, :unit => peso_sign)
          %td.monetary= number_to_currency(last_year.net_sale_total, :unit => peso_sign)
        %tr
          %td Customer Count
          %td.number= number_with_precision(@directional.customer_count, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.customer_count, :precision => 2, :delimiter => ',')
        %tr
          %td Per Person Ave
          %td.number= number_with_precision(@directional.per_person_ave, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.per_person_ave, :precision => 2, :delimiter => ',')
        %tr
          %td Transaction Count
          %td.number= number_with_precision(@directional.transaction_count, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.transaction_count, :precision => 2, :delimiter => ',')
        %tr
          %td Per Transaction Ave
          %td.number= number_with_precision(@directional.per_trans_ave, :precision => 2, :delimiter => ',')
          %td.number= number_with_precision(last_year.per_trans_ave, :precision => 2, :delimiter => ',')

      %table{:title => 'Cost of Goods'}
        %tr
          %th Cost of Goods
          %th.number Beggining
          %th.monetary Purchase
          %th.number Purchase %
          %th.number Ending
          %th.number COGS
          %th.number COGS %
          %th.number Goal %
          %th.number VAR +/-
        - @directional.cogs.each do |c|
          %tr
            %td= c.name
            %td.number= number_with_precision(c.beginning, :precision => 2, :delimiter => ',')
            %td.monetary= number_to_currency(c.purchase, :unit => peso_sign)
            %td.number= number_to_percentage(c.purchase_perc)
            %td.number= number_with_precision(c.ending, :precision => 2, :delimiter => ',')
            %td.number= number_with_precision(c.cogs, :precision => 2, :delimiter => ',')
            %td.number= number_to_percentage(c.cogs_perc)
            %td.number= number_to_percentage(c.subcategory.goal)
            %td.number= number_to_percentage(c.var_perc)
