!!!
%html
  %head
    %title= title
    = stylesheet_link_tag 'styles'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    %body
      #container
        #header
          %h1
            %a{:href => root_path}= title
          = render 'shared/usernav'
          = render 'shared/mainnav'
        #wrapper.wat-cf
          #main
            - if notice || alert
              .flash
                = content_tag(:div, content_tag(:p, notice), :class => 'message notice') if notice
                = content_tag(:div, content_tag(:p, alert), :class => 'message error') if alert
            = yield
